<div class="gen-home-heading">
    <div class="title">{{'banner.generalssb.landingpage.title'|i18n}}</div>
    <div class="gen-home-title-divider"><span></span></div>
    <div class="greeting-wrapper">
        <ng-include ng-if="piConfig.isProfilePicDisplayable" src="'../generalSsbApp/landingPage/gssLandingPagePicture.html'"></ng-include>
        <div class="greeting">
            {{'banner.generalssb.landingpage.greeting'|i18n:[firstName]}}<br>
            {{'banner.generalssb.landingpage.description'|i18n}}
        </div>
    </div>
</div>
<div ng-if="piConfig.isProfilePicDisplayable" class="avatar-spacer mobile"></div>
<div class="gen-home-heading-spacer"></div>
<div ng-class="['gen-home-content', isSingleTile ? 'single-tile' : null]">
    <div ng-repeat="tile in appTilesForRole">
        <landing-page-app-tile tile-data="tile"/>
    </div>
</div>