<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-page-body mini-tables awardPackage">
    <div class="proxy-header-container">
        <div class="clearfix">
            <h1 class="proxy-page-heading left proxy-tablet-visible proxy-desktop-visible">{{'proxy.awardPackage.heading'|i18n}}</h1>
            <div class="proxy-page-student-name">
                {{'proxy.message.viewingStudentInfo'|i18n:[studentName]}}
            </div>
        </div>
        <!--<div class="select2-container proxy-top-input">-->
            <!--<input name="aidyear" id="aidyear" select-box for-select='{"placeholder": "{{"proxy.selectAidYear.label"|i18n}}", "action": "Proxy/getAidYears", "model": "aidYearHolder.aidYear", "showNA": false}' type="hidden" />-->
        <!--</div>-->
        <!--<xe-ui-select id="select2MultipleLabel" ng-model="aidYearHolder.aidYear" on-select="onAidYearSelect()"-->
                      <!--reach-infinity="refreshData($select.search, true)" theme="select2" search-enabled="true">-->
            <!--<xe-ui-select-match placeholder="{{'proxy.selectAidYear.label'|i18n}}">-->
                <!--{{$select.selected.description ? $select.selected.description : ('proxy.selectAidYear.label'|i18n)}}-->
            <!--</xe-ui-select-match>-->
            <!--<xe-ui-select-choices minimum-input-length="" refresh-delay="200" repeat="aidYear in aidYears track by $index"-->
                                  <!--refresh="refreshData($select.search)">-->
            <!--<span ng-switch="isLoading">-->
                <!--<span ng-switch-when="true"></span>-->
                <!--<div ng-switch-default="any" ng-bind-html="aidYear.description | highlight: $select.search"></div>-->
            <!--</span>-->
            <!--</xe-ui-select-choices>-->
        <!--</xe-ui-select>-->
        <div>
            <genssb-xe-dropdown fetch-function="aidYearFetcher" model-holder="aidYearHolder" model-name="aidYear"
                                on-select-fn="onSelect" dropdown-placeholder="{{'proxy.selectAidYear.label'|i18n}}">
            </genssb-xe-dropdown>
        </div>
        <div ng-show="showMessageForNoAwardInfo" class="proxy-mid-message-container">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <div class="proxy-top-message proxy-notification-text">
                {{'proxy.awardPackage.message.noAwardInfo'|i18n}}
            </div>
        </div>
    </div>

    <div ng-show="awardPackage.hasAwardInfo">
        <div class="row auto-clear award-info">
            <div ng-if="awardPackage.needsCalc" class="col-xs-12 col-md-6">
                <div class="proxy-content-section proxy-content-item">
                    <table>
                        <caption>{{'proxy.awardPackage.needCalc'|i18n}}</caption>
                        <tbody>
                            <tr>
                                <td>{{'proxy.awardPackage.costOfAttd'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.attendanceCost}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.familyContrib'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.familyContrib}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.initialNeed'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.initialNeed}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.outsideResrc'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.outsideResrc}}</td>
                            </tr>
                            <tr>
                                <th>{{'proxy.awardPackage.need'|i18n}}</th>
                                <td class="currency-values currency-totals">{{awardPackage.needsCalc.need}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-if="awardPackage.costOfAttendance.budgets.length" class="col-xs-12 col-md-6">
                <div class="proxy-content-section proxy-content-item">
                    <table>
                        <caption>{{'proxy.awardPackage.costOfAttd'|i18n}}</caption>
                        <tbody>
                            <tr ng-repeat="budget in awardPackage.costOfAttendance.budgets">
                                <td>{{budget.desc}}</td>
                                <td class="currency-values">{{budget.amount}}</td>
                            </tr>
                            <tr>
                                <th>{{'proxy.awardPackage.total'|i18n}}</th>
                                <td class="currency-values currency-totals">{{awardPackage.costOfAttendance.totalTxt}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-if="awardPackage.loanInfo" class="col-xs-12 col-md-6">
                <div class="proxy-content-section proxy-content-item">
                    <table>
                        <caption>{{'proxy.awardPackage.cumLoanInfo'|i18n:[awardPackage.loanInfo.procDate]}}</caption>
                        <thead class="loans">
                            <tr>
                                <th>{{'proxy.awardPackage.loanType'|i18n}}</th>
                                <th class="currency-values">{{'proxy.awardPackage.amount'|i18n}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="awardPackage.loanInfo.subsidized">
                                <td>{{'proxy.awardPackage.subsidized'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.subsidized}}</td>
                            </tr>
                            <tr ng-if="awardPackage.loanInfo.unsubsidized">
                                <td>{{'proxy.awardPackage.unsubsidized'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.unsubsidized}}</td>
                            </tr>
                            <tr ng-if="awardPackage.loanInfo.gradPlus">
                                <td>{{'proxy.awardPackage.gradPlus'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.gradPlus}}</td>
                            </tr>
                            <tr ng-if="awardPackage.loanInfo.parentPlus">
                                <td>{{'proxy.awardPackage.parentPlus'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.parentPlus}}</td>
                            </tr>
                            <tr ng-if="awardPackage.loanInfo.perkins">
                                <td>{{'proxy.awardPackage.perkins'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.perkins}}</td>
                            </tr>
                            <tr ng-if="awardPackage.loanInfo.directUnsub">
                                <td>{{'proxy.awardPackage.directUnsub'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.directUnsub}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-if="awardPackage.enrollment || awardPackage.housingStatuses.rows.length" class="col-xs-12 col-md-6 row statuses">
                <div ng-if="awardPackage.enrollment" class="col-xs-12">
                    <div class="proxy-content-section proxy-content-item">
                        <div class="status-container">
                            <h2>{{'proxy.awardPackage.enrollStatus'|i18n}}</h2>
                            <div ng-if="awardPackage.enrollment.fStatus">
                                <p ng-if="awardPackage.enrollment.fStatus.status" class="status-desc">
                                    {{awardPackage.enrollment.fStatus.status === '_unknown_' ? ('proxy.awardPackage.termStatus.unknown'|i18n) : awardPackage.enrollment.fStatus.status}}
                                </p>
                                <p ng-if="awardPackage.enrollment.fStatus.dfltOption" class="status-desc">
                                    {{getStatusTextNonPell(awardPackage.enrollment.fStatus.dfltOption)}}
                                </p>
                            </div>
                            <div ng-if="awardPackage.enrollment.tStatus">
                                <p class="status-desc">
                                    <span ng-repeat="status in awardPackage.enrollment.tStatus.statuses">{{getStatusTextTerm(status)}}</span>
                                </p>
                            </div>
                            <div ng-if="awardPackage.enrollment.tStatus_new">
                                <p class="status-desc">
                                    <span ng-repeat="status in awardPackage.enrollment.tStatus_new.statuses">{{getStatusTextTermNew(status)}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="awardPackage.housingStatuses.rows.length" class="col-xs-12">
                    <div class="proxy-content-section proxy-content-item">
                        <div class="status-container">
                            <h2>{{'proxy.awardPackage.housingStatus'|i18n}}</h2>
                            <p class="status-desc">
                                <span ng-repeat="status in awardPackage.housingStatuses.rows">{{status}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="proxy-mobile-visible">
            <ng-include src="'proxyApp/finaid/awardPackage-fundsMobile.html'|webAppResourcePath"></ng-include>
        </div>

        <div class="proxy-tablet-visible proxy-desktop-visible funds">
            <ng-include src="'proxyApp/finaid/awardPackage-fundsDesktop.html'|webAppResourcePath"></ng-include>
        </div>

        <div class="msg-container">
            <div class="proxy-bottom-message-container">
                <div class="proxy-notification-icon blue">
                    <span class="icon-info-CO"></span>
                </div>
                <div class="proxy-top-message proxy-notification-text">
                    {{'proxy.awardPackage.haveQuestion'|i18n}}
                </div>
            </div>
        </div>
    </div>
</div>
