<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-page-body schedDetail awardPackage">
    <div class="proxy-header-container">
        <div class="clearfix">
            <h1 class="proxy-page-heading left proxy-tablet-visible proxy-desktop-visible">{{'proxy.awardPackage.heading'|i18n}}</h1>
            <div class="proxy-page-student-name">
                {{'proxy.message.viewingStudentInfo'|i18n:[studentName]}}
            </div>
        </div>
        <div class="select2-container proxy-top-input">
            <input name="aidyear" id="aidyear" select-box for-select='{"placeholder": "{{"proxy.selectAidYear.label"|i18n}}", "action": "Proxy/getAidYears", "model": "aidYearHolder.aidYear", "showNA": true}' type="hidden" />
        </div>
    <div ng-if="errorMsg" class="proxy-top-message-container">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <p class="proxy-top-message proxy-notification-text">
                {{'proxy.courseDetail.message.'+ errorMsg|i18n}}
            </p>
        </div>
    </div>

    <div ng-show="showMessageForNoAwardInfo" class="proxy-mid-message-container">
        <div class="proxy-notification-icon blue">
            <span class="icon-info-CO"></span>
        </div>
        <div class="proxy-top-message proxy-notification-text">
            {{'proxy.awardHistory.message.NO_AWARD_INFO'|i18n}}
        </div>
    </div>

    <div ng-show="aidYearHolder.aidYear.code">
        <div class="row award-info">
            <div class="col-xs-12 col-md-6">
                <div class="proxy-content-section proxy-content-item">
                    <table>
                        <caption>{{'proxy.awardPackage.needCalc'|i18n}}</caption>
                        <tbody>
                            <tr>
                                <td>{{'proxy.awardPackage.costOfAttd'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.attendanceCost}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.familyContrib'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.familyContrib}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.initialNeed'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.initialNeed}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.outsideResrc'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.needsCalc.outsideResrc}}</td>
                            </tr>
                            <tr>
                                <th>{{'proxy.awardPackage.need'|i18n}}</th>
                                <td class="currency-values currency-totals">{{awardPackage.needsCalc.need}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="proxy-content-section proxy-content-item">
                    <table>
                        <caption>{{'proxy.awardPackage.costOfAttd'|i18n}}</caption>
                        <tbody>
                            <tr ng-repeat="budget in awardPackage.costOfAttendance.budgets">
                                <td>{{budget.desc}}</td>
                                <td class="currency-values">{{budget.amount}}</td>
                            </tr>
                            <tr>
                                <th>{{'proxy.awardPackage.total'|i18n}}</th>
                                <td class="currency-values currency-totals">{{awardPackage.costOfAttendance.totalTxt}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-6">
                <div class="proxy-content-section proxy-content-item">
                    <table>
                        <caption>{{'proxy.awardPackage.cumLoanInfo'|i18n:[now()]}}</caption>
                        <tbody>
                            <tr>
                                <td>{{'proxy.awardPackage.subsidized'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.subsidized}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.unsubsidized'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.unsubsidized}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.gradPlus'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.gradPlus}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.parentPlus'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.parentPlus}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.perkins'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.perkins}}</td>
                            </tr>
                            <tr>
                                <td>{{'proxy.awardPackage.directUnsub'|i18n}}</td>
                                <td class="currency-values">{{awardPackage.loanInfo.directUnsub}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 row statuses">
                <div class="col-xs-12">
                    <div class="proxy-content-section proxy-content-item">
                        <div class="status-container">
                            <h2>{{'proxy.awardPackage.enrollStatus'|i18n}}</h2>
                            <div ng-if="awardPackage.enrollment.fStatus">
                                <p ng-if="awardPackage.enrollment.fStatus.status" class="status-desc">
                                    {{awardPackage.enrollment.fStatus.status}}
                                </p>
                                <p ng-if="awardPackage.enrollment.fStatus.dfltOption" class="status-desc">
                                    {{getStatusTextNonPell(awardPackage.enrollment.fStatus.dfltOption)}}
                                </p>
                            </div>
                            <div ng-if="awardPackage.enrollment.tStatus">
                                <p class="status-desc">
                                    <span ng-repeat="status in awardPackage.enrollment.tStatus.statuses">{{status}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="proxy-content-section proxy-content-item">
                        <div class="status-container">
                            <h2>{{'proxy.awardPackage.housingStatus'|i18n}}</h2>
                            <p class="status-desc">
                                <span ng-repeat="status in awardPackage.housingStatuses.rows">{{status}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="proxy-mobile-visible">
            <ng-include src="'proxyApp/finaid/awardPackage-fundsMobile.html'|webAppResourcePath"></ng-include>
        </div>

        <div class="proxy-tablet-visible proxy-desktop-visible funds">
            <ng-include src="'proxyApp/finaid/awardPackage-fundsDesktop.html'|webAppResourcePath"></ng-include>
        </div>
    </div>
</div>
