<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-page-body">
    <div class="proxy-page-heading-container clearfix">
        <h1 class="proxy-page-heading left">{{'proxy.finaid.status.heading'|i18n}}</h1>
        <div class="proxy-page-student-name">
            {{'proxy.message.viewingStudentInfo'|i18n:[studentName]}}
        </div>
    </div>
    <div class="dropdown-container select-term-top">
        <genssb-xe-dropdown fetch-function="aidYearFetcher" model-holder="aidYearHolder" model-name="aidYear"
                            on-select-fn="onAidYearSelect" dropdown-placeholder="{{'proxy.selectAidYear.label'|i18n}}">
        </genssb-xe-dropdown>
    </div>
    <div ng-show="aidYearHolder.aidYear.code">
        <div class="proxy-mid-message-container">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <div class="proxy-top-message proxy-notification-text">
                {{'proxy.finaid.status.intro'|i18n}}
            </div>
        </div>

        <table class="proxy-content-section">
            <tr ng-repeat="statusLine in financialAidStatus">
                <td>
                    <span ng-if="statusLine.url" class="proxy-base-font">
                        <a ui-sref="{{statusLine.url}}" class="text-link">{{stringifyFinaidStatusMessageFor(statusLine)}}</a>
                    </span>
                    <span ng-if="!statusLine.url" class="proxy-base-font">{{stringifyFinaidStatusMessageFor(statusLine)}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
