<!--******************************************************************************
  Copyright 2019 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-mgmt-home-content">
    <div ng-if="proxies.length < 1" class="center-contents">
        <div class="proxy-mgmt-no-proxy-top"></div>
        <div class="proxy-mgmt-msg-primary">
            {{'proxy.management.no.proxy.yet'|i18n}}
        </div>
        <div class="proxy-mgmt-msg-secondary">
            {{'proxy.management.add.proxy.using.button'|i18n}}
        </div>
        <div class="proxy-mgmt-button-container center">
            <button ng-click="PLACEHOLDER()" class="primary">{{'proxy.management.label.addProxy'|i18n}}</button>
        </div>
    </div>
    <div ng-if="proxies.length > 0">
        <ng-include src="'proxyManagementApp/proxyManagementHome/proxyList.html'|webAppResourcePath"></ng-include>
    </div>
</div>
<proxy-mgmt-mobile-footer-button click-function="sectionDetails.clickFunction" ng-if="proxies.length > 0">
    {{'proxy.management.label.addProxy'|i18n}}
</proxy-mgmt-mobile-footer-button>
