<!--*******************************************************************************
Copyright 2019 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="row">
    <div ng-repeat="proxy in proxies" class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <div class="proxy-item-detail">
            <div class="proxy-item-name">
                {{proxy.firstName}} {{proxy.lastName}}
            </div>
            <div>
                <span class="email-text" dir="ltr">{{proxy.email}}</span>
            </div>
            <div class="proxy-item-name">
                <span ng-show="proxy.activeInd=='Y'"><span>&nbsp;</span></span>
                <span ng-show="proxy.activeInd=='N'"><span>{{'proxy.status.I' | i18n }}</span></span>
            </div>
        </div>
        <div class="button-block">
            <a ui-sref="editProxy({gidm: proxy.gidm, firstName: proxy.firstName, lastName: proxy.lastName, email: proxy.email})" class="proxy-edit-item-link proxy-icon-link"
               title="{{'proxyManagement.button.title.editProxy'|i18n}}" tabindex="0">
                <span class="icon-edit-CO"></span>
                <div class="hidden-link-text-for-reader">{{'proxyManagement.button.title.editProxy'|i18n}}</div>
            </a>
            <proxy-mgmt-delete-button item="proxy" ng-click="confirmDeleteProxy(proxy)" button-title="{{'proxyManagement.button.title.deleteProxy'|i18n}}"/>
        </div>
    </div>
</div>