<table role="grid" aria-labelledby="ap_account_list_label">
<caption id ="ap_account_list_label" class="offscreen" aria-hidden="false">{{'directDeposit.apListTableDesc'|i18n}}</caption>
    <thead>
        <tr>
            <th ng-repeat="heading in apListingColumns">
                <div class="headervalues">
                    <span class="column-title">
                        {{heading.title}}
                    </span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ap-account-info-desktop></tr>
    </tbody>
</table>
<div class="desktop-disclaimer">
    <input type="checkbox" class="main-nav-check" id="disclaimer-check" aria-label="{{'directDeposit.label.disclaimer.ack'|i18n}}" ng-checked="authorizedChanges" ng-click="toggleAuthorizedChanges()"/>
    <p class="lbl">{{disclaimer}}</p>
</div>
<div class="desktop-save">
    <button class="btn save-btn" ng-disabled="!authorizedChanges" ng-click="updateAccount()">{{'directDeposit.save.changes.button.label'|i18n}}</button>
</div>
