<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->

<div role="tablist">
    <form name="editForm" role="form" >
    <div ng-show="isEmployee">
        <!-- PAYROLL MOST RECENT -->
        <div id="payTabMostRecent" class="row tile">
            <div class="col-md-12 no-padding panel-group panel-accordion">
                <h2 id="pay-account-most-recent-listing-heading" class="panel panel-heading panel-default panel-title panel-bottom-border">
                    <a href="" data-toggle="collapse" data-target="#pay-account-most-recent-listing"
                       ng-class="{'collapsed': payPanelMostRecentCollapsed}" ng-click="payPanelMostRecentCollapsed = !payPanelMostRecentCollapsed;"
                       aria-controls="pay-account-most-recent-listing" aria-expanded="{{!payPanelMostRecentCollapsed}}" role="tab">
                        {{'directDeposit.label.payDistributionAsOf'|i18n}} {{distributions.mostRecent.payDate}}
                    </a>
                </h2>

                <div id="pay-account-most-recent-listing" class="collapse in" aria-labelledby="pay-account-most-recent-listing-heading"
                     aria-expanded="{{!payPanelMostRecentCollapsed}}" aria-hidden="{{payPanelMostRecentCollapsed}}" role="tabpanel">
                    <div ng-show="payAccountsMostRecentLoaded">
                        <div class="pay-listing-panel-wrapper-most-recent">
                            <div ng-if="hasPayAccountsMostRecent">
                                <pay-listing-panel-populated-most-recent/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAYROLL PROPOSED -->
        <div id="payTabProposed" class="row tile">
            <div class="col-md-12 no-padding panel-group panel-accordion">
                <h2 id="pay-account-proposed-listing-heading" class="panel panel-heading panel-default panel-title">
                    <a href="" data-toggle="collapse" data-target="#pay-account-proposed-listing"
                       ng-class="{'collapsed': payPanelProposedCollapsed}" ng-click="payPanelProposedCollapsed = !payPanelProposedCollapsed;"
                       aria-controls="pay-account-proposed-listing" aria-expanded="{{!payPanelProposedCollapsed}}" role="tab">
                        {{'directDeposit.label.payDistribution.proposed'|i18n}}
                    </a>
                </h2>

                <div id="pay-account-proposed-listing" class="collapse in" aria-labelledby="pay-account-proposed-listing-heading"
                     aria-expanded="{{!payPanelProposedCollapsed}}" aria-hidden="{{payPanelProposedCollapsed}}" role="tabpanel">
                    <div ng-show="payAccountsProposedLoaded">
                        <div class="pay-listing-panel-wrapper-proposed">
                            <div class="proposed-pay-listing-subheader clearfix">
                                <a class="add-account-link" ng-class="{disabled: hasMaxPayrollAccounts}" ng-click="showAddAccount('HR')" enter-key="showAddAccount('HR')" tabindex="0"><span class="icon-add-CO"></span> <span>{{'directDeposit.account.label.add.new'|i18n}}</span></a>
                                <a class="delete-account-link" ng-class="{disabled: !selectedForDelete.payroll}" ng-click="confirmPayrollDelete()" enter-key="confirmPayrollDelete()" tabindex="0"><span class="icon-delete-CO"></span> <span>{{'directDeposit.account.label.delete'|i18n}}</span></a>
                            </div>
                            <div ng-if="hasPayAccountsProposed">
                                <pay-listing-panel-populated-proposed/>
                            </div>
                            <div ng-if="!hasPayAccountsProposed">
                                <pay-listing-panel-nonpopulated-proposed/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ACCOUNTS PAYABLE -->
    <div id="apTab" class="row tile">
        <div class="col-md-12 no-padding panel-group panel-accordion">
            <div class="notification-box-wrapper" ng-show="accountLoaded">
                <div ng-if="hasApAccount">
                    <notification-box notification-text="{{'directDeposit.notification.only.one.accounts.payable.allocation.can.exist.tap'|i18n}}"/>
                </div>
            </div>
            <h2 id="ap-account-listing-heading" class="panel panel-heading panel-default panel-title">
                <a href="" data-toggle="collapse" data-target="#ap-account-listing"
                   ng-class="{'collapsed': panelCollapsed}" ng-click="panelCollapsed = !panelCollapsed;"
                   aria-controls="ap-account-listing" aria-expanded="{{!panelCollapsed}}" role="tab">
                    {{'directDeposit.label.accountsPayableDeposit'|i18n}}
                </a>
            </h2>

            <div id="ap-account-listing" class="collapse in" aria-labelledby="ap-account-listing-heading"
                 aria-expanded="{{!panelCollapsed}}" aria-hidden="{{panelCollapsed}}" role="tabpanel">
                <div ng-show="accountLoaded">
                    <div class="ap-listing-panel clearfix">
                        <a class="add-account-link" ng-class="{disabled: hasApAccount}" ng-click="showAddAccount('AP')" enter-key="showAddAccount('AP')" tabindex="0"><span class="icon-add-CO"></span> <span>{{'directDeposit.account.label.add.new'|i18n}}</span></a>
                        <a class="delete-account-link" ng-class="{disabled: !selectedForDelete.ap}" ng-click="confirmAPDelete()" enter-key="confirmAPDelete()" tabindex="0"><span class="icon-delete-CO"></span> <span>{{'directDeposit.account.label.delete'|i18n}}</span></a>
                    </div>
                    <div ng-if="hasApAccount">
                        <ap-listing-panel-populated/>
                    </div>
                    <div ng-if="!hasApAccount">
                        <ap-listing-panel-nonpopulated/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div ng-show="isDesktopView && (hasApAccount || hasPayAccountsProposed)" class="desktop-disclaimer">
        <input type="checkbox" class="main-nav-check" id="disclaimer-check" aria-label="{{'directDeposit.label.disclaimer.ack'|i18n}}" ng-checked="authorizedChanges" ng-click="toggleAuthorizedChanges()"/>
        <p class="lbl">{{'directDeposit.disclaimer.text'|i18n}}</p>
    </div>
    <div ng-show="isDesktopView && (hasApAccount || hasPayAccountsProposed)" class="desktop-save">

        <input type="button" aria-label="{{'directDeposit.cancel.changes.button.label'|i18n}}" title="{{'directDeposit.cancel.changes.button.label'|i18n}}"
               class="btn save-btn" ng-disabled="disableCancel()" value="{{'directDeposit.cancel.changes.button.label'|i18n}}"  ng-click="cancelChanges();"/>

        <button class="btn save-btn" ng-disabled="disableSave()" ng-click="updateAccounts()">{{'directDeposit.save.changes.button.label'|i18n}}</button>
    </div>
</div>
