<div class="listing-panel-populated">
    <a class="replace-account-link" href=""><span class="icon-replace"></span> <span>{{'directDeposit.account.label.replace'|i18n}}</span></a>
</div>
<div panel-body">
    <table role="grid" aria-labelledby="ap_account_list_label">
    <caption id ="ap_account_list_label" class="offscreen" aria-hidden="false">{{'directDeposit.apListTableDesc'|i18n}}</caption>
        <thead>
            <tr>
                <th role="columnheader" ng-repeat="heading in apListingColumns">
                    <div class="headervalues">
                        <span class="column-title">
                            {{heading.title}}
                        </span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acct in accounts" account-info-desktop acct="acct"></tr>
        </tbody>
    </table>
</div>
