<div class="pay-entry" ng-repeat="allocation in distributions.proposed.allocations">
    <pay-account-info-proposed account="allocation"/>
</div>
<div ng-if="!hasPayrollRemainingAmount" class="pay-entry">
    <div class="proposed-entry">
        <div class="hr-heading break-word hdg-inline">
            {{'directDeposit.label.live.check'|i18n}}
        </div>
        <div class="row flex-div no-margin">
            <div class="col-xs-9 col-sm-6 hr-account-field no-padding">
                {{'directDeposit.account.label.amount'|i18n}}: {{'directDeposit.account.label.remaining'|i18n}}
            </div>
            <div class="col-xs-3 col-sm-3 hr-amount no-padding">
                <span class="check-amount">{{checkAmount}}</span>
            </div>
        </div>
    </div>
</div>
<div class="account-total-footer clearfix">
    <div class="amount-right">
        <span class="amount-total-label">{{'directDeposit.label.total.net.pay'|i18n}}</span><span class="amount-total">{{distributions.proposed.totalAmount}}</span>
    </div>
</div>
<div class="notification-box-wrapper">
    <notification-box notification-text={{'directDeposit.label.total.net.pay.message'|i18n}} />
</div>
