<table role="grid" aria-labelledby="hr-proposed-list-label">
<caption id ="hr-proposed-list-label" class="offscreen" aria-hidden="false">{{'directDeposit.hrProposedTableDesc'|i18n}}</caption>
    <thead>
        <tr>
            <th ng-repeat="heading in proposedPayColumns">
                <div class="headervalues" ng-class="{'text-rt':($index===6 ? true : false)}">
                    <span class="column-title">
                        {{heading.title}}
                    </span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="allocation in distributions.proposed.allocations" pay-account-info-proposed-desktop></tr>
        <tr ng-if="!hasPayrollRemainingAmount">
            <td class="break-word" colspan="4">
                <span class="desktop-listing-check">{{'directDeposit.label.live.check'|i18n}}</span>
            </td>
            <td class="min-width-amount desktop-listing">
                <div class="dropdown-btn form-spacing disabled">{{'directDeposit.account.label.remaining'|i18n}}</div>
            </td>
            <td class="break-word text-rt" colspan="2">{{checkAmount}}</td>
            <td/>
        </tr>
        <tr class="account-total-footer">
            <td colspan="7" class="no-padding">
                <div class="amount-right">
                    <span class="amount-total-label">{{'directDeposit.label.total.net.pay'|i18n}}</span><span class="amount-total">{{distributions.mostRecent.totalNetFormatted}}</span>
               </div>
           </td><td></td>
        </tr>
        <tr class="account-total-footer">
            <td colspan="7" class="no-padding">
                <div class="notification-box-wrapper">
                    <notification-box notification-text={{'directDeposit.label.total.net.pay.message'|i18n}} />
                </div>
            </td><td></td>
        </tr>
    </tbody>
</table>