<div class="pay-entry" ng-repeat="allocation in distributions.proposed.allocations">
    <pay-account-info-proposed account="allocation"/>
</div>
<div ng-if="!isLastPayrollRemainingAmount" class="remaining-amount-notification clearfix">
    {{'directDeposit.remaining.amount.notification'|i18n}}
</div>
<div class="account-total-footer clearfix">
    <div class="amount-right">
        <span class="amount-total-label">{{'directDeposit.label.total.net.pay'|i18n}}</span><span class="amount-total">{{distributions.proposed.totalAmount}}</span>
    </div>
</div>
