<div class="pay-entry" ng-repeat="allocation in distributions.proposed.allocations">
    <pay-account-info-proposed acct="allocation"/><!--
    <div class="delete-checkbox-wrapper no-margin">
	    <input type="checkbox" ng-click="toggleApAccountSelectedForDelete()" enter-key="toggleApAccountSelectedForDelete()">
	    <div class="lbl"></div>
	</div>
	<div class="proposed-entry">
	    <div class="hr-heading break-word hdg-inline">
	        {{allocation.bankRoutingInfo.bankName}}
	    </div>
	    <div class="edit-acct">
	        <a class="edit-account-link" ng-click="account = allocation; showEditAccount('HR')" enter-key="console.log('hi'); account = allocation; showEditAccount('HR')"><span class="icon-edit"></span> <span>{{'directDeposit.account.label.edit'|i18n}}</span></a>
	    </div>
	    <div class="row flex-div no-margin">
	        <div class="col-xs-9 no-padding">
	            <div class="col-sm-4 hr-account-field no-padding">
	                {{'directDeposit.account.label.routing'|i18n}}: {{allocation.bankRoutingInfo.bankRoutingNum|accountNumMask}}
	            </div>
	            <div class="col-sm-4 hr-account-field no-padding">
	                {{'directDeposit.account.label.account'|i18n}}: {{allocation.bankAccountNum|accountNumMask}}
	            </div>
	            <div class="col-sm-4 hr-account-field no-padding">
	                {{'directDeposit.account.label.accountType'|i18n}}: <account-type account="allocation"/>
	            </div>
	            <div class="col-sm-4 hr-account-field no-padding">
	                {{'directDeposit.account.label.amount'|i18n}}: {{allocation.allocation}}
	            </div>
	            <div class="col-sm-4 hr-account-field no-padding">
	                {{'directDeposit.account.label.priority'|i18n}}: {{allocation.priority}}
	            </div>
	            <div class="col-sm-4 hr-account-field no-padding">
	                {{'directDeposit.account.label.status'|i18n}}: <account-status account="allocation"/>
	            </div>
	        </div>
	        <div class="col-xs-3 hr-amount no-padding">
	            <span>{{allocation.calculatedAmount}}</span>
	        </div>
	    </div>
	</div>-->
</div>
<div class="account-total-footer clearfix">
    <div class="amount-right">
        <span class="amount-total-label">{{'directDeposit.label.total.net.pay'|i18n}}</span><span class="amount-total">{{distributions.proposed.totalAmount}}</span>
    </div>
</div>