<table role="grid" aria-labelledby="hr-proposed-list-label">
<caption id ="hr-proposed-list-label" class="offscreen" aria-hidden="false">{{'directDeposit.apListTableDesc'|i18n}}</caption>
    <thead>
        <tr>
            <th ng-repeat="heading in mostRecentPayColumns">
                <div class="headervalues" ng-class="{'text-rt':$last}">
                    <span class="column-title">
                        {{heading.title}}
                    </span>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
       <tr ng-repeat="dist in distributions.mostRecent.docAccts" pay-account-info-most-recent-desktop></tr>
    </tbody>
</table>
<div class="account-total-footer clearfix">
    <div class="amount-right">
        <span class="amount-total-label">{{'directDeposit.label.total.net.pay'|i18n}}</span><span class="amount-total">{{distributions.mostRecent.totalNet}}</span>
    </div>
</div>