<!--*******************************************************************************
  Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="gen-home-heading">
    <div class="title">{{'banner.generalssb.landingpage.title'|i18n}}</div>
    <div class="gen-home-title-divider"><span></span></div>
    <div class="greeting-wrapper">
        <ng-include ng-if="piConfig.isProfilePicDisplayable" src="'../generalSsbApp/landingPage/gssLandingPagePicture.html'"></ng-include>
        <div class="greeting">

            <div data-ng-show = "guestUser === true">
                <div class="landingDesc break-long-words">You view this page as a Proxy User: {{guestUserName}}</div>
            </div>

        </div>
    </div>
</div>
<div ng-if="piConfig.isProfilePicDisplayable" class="avatar-spacer mobile"></div>
<div class="gen-home-heading-spacer"></div>
<div ng-class="['gen-home-content', isSingleTile ? 'single-tile' : null]">
    <div data-ng-show = "guestUser === true">
     <div ng-repeat="proxy in proxyTiles">
        <landing-page-proxy-tile proxy-data="proxy"/>
      </div>
    </div>
</div>