<!--*******************************************************************************
  Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="gen-app-tile">

    <div id=content">
    <div id="proxyIcon" class="show-icon">
        <i class="fa fa-user fa-4x"></i>
    </div>
    <div class="tile-content">

        <div>
            <accordion>
                <accordion-group is-open="proxyData.open">
                    <accordion-heading data-ng-click="setPidm()">
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
                        <span class="break-long-words">{{proxyData.desc}}</span>
                    </accordion-heading>
                    <div class="list-group">
                        <div class="list-group-item" id="proxyPages" ng-repeat="page in proxyData.pages" data-ng-click="goProxyApp(page.url)">
                            {{page.desc}}
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>

    </div>
</div>
</div>
