<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div  ng-class="proxyData.active ? null : 'disabled'" class="tile-wrapper">
    <div class="tile-icon">
        <img ng-src="{{'images/icons/student.png'|webAppResourcePath}}"/>
    </div>
    <div class="tile-content">
        <div class="tile-title">
            {{'proxy.landingPage.label.proxy.for'|i18n}}<span class="student-name">{{proxyData.desc}}</span>
        </div>
        <div class="subsection-divider"><span></span></div>
        <div class="tile-desc">
            {{'proxy.landingPage.label.expand.to.view'|i18n}}
        </div>
    </div>
    <div ng-if="proxyData.active" class="select2-container top-level select-page">
        <xe-ui-select id="select2MultipleLabel" ng-model="proxyData.selectedPage" on-select="onTileSelect(proxyData.selectedPage.url)"
                      theme="select2" search-enabled="false">
            <xe-ui-select-match placeholder="{{'proxy.landingPage.label.select.to.view'|i18n}}">
                {{$select.selected.desc ? $select.selected.desc : ('proxy.landingPage.label.select.to.view'|i18n)}}
            </xe-ui-select-match>
            <xe-ui-select-choices repeat="page in proxyData.pages | propsFilter: {desc: $select.search}">
                <div ng-bind-html="page.desc | highlight: $select.search"></div>
            </xe-ui-select-choices>
        </xe-ui-select>
    </div>
</div>
