[submodule "plugins/banner_codenarc.git"]
	path = plugins/banner_codenarc.git
	url = https://git.ellucian.com/scm/banxeplug/banner_codenarc.git
[submodule "plugins/banner_packaging.git"]
	path = plugins/banner_packaging.git
	url = https://git.ellucian.com/scm/banxeplug/banner_packaging.git
[submodule "plugins/banner_core.git"]
	path = plugins/banner_core.git
	url = https://git.ellucian.com/scm/banxeplug/banner_core.git
[submodule "plugins/banner_seeddata_catalog.git"]
	path = plugins/banner_seeddata_catalog.git
	url = https://git.ellucian.com/scm/banxeplug/banner_seeddata_catalog.git
[submodule "plugins/banner_general_common.git"]
	path = plugins/banner_general_common.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_common.git
[submodule "plugins/banner_ui_ss.git"]
	path = plugins/banner_ui_ss.git
	url = https://git.ellucian.com/scm/banxeplug/banner_ui_ss.git
[submodule "plugins/banner_general_common_ui_ss.git"]
	path = plugins/banner_general_common_ui_ss.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_common_ui_ss.git
[submodule "plugins/domain_extension.git"]
	path = plugins/domain_extension.git
	url = https://git.ellucian.com/scm/banxeplug/domain_extension.git
[submodule "plugins/banner_general_person.git"]
	path = plugins/banner_general_person.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_person.git
[submodule "plugins/i18n_core.git"]
	path = plugins/i18n_core.git
	url = https://git.ellucian.com/scm/banxeplug/i18n_core.git
[submodule "plugins/banner_general_utility.git"]
	path = plugins/banner_general_utility.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_utility.git
[submodule "plugins/sghe_aurora.git"]
	path = plugins/sghe_aurora.git
	url = https://git.ellucian.com/scm/banxeplug/sghe_aurora.git
[submodule "plugins/banner_general_validation_common.git"]
	path = plugins/banner_general_validation_common.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_validation_common.git
[submodule "plugins/web-app-extensibility.git"]
	path = plugins/web-app-extensibility.git
	url = https://git.ellucian.com/scm/ext/web-app-extensibility.git
[submodule "plugins/grails_constraints.git"]
	path = plugins/grails_constraints.git
	url = https://git.ellucian.com/scm/banxeplug/grails-constraints.git
[submodule "plugins/banner_spring_security_cas.git"]
	path = plugins/banner_spring_security_cas.git
	url = https://git.ellucian.com/scm/banxeplug/banner_spring_security_cas.git
[submodule "plugins/banner_spring_security_saml.git"]
	path = plugins/banner_spring_security_saml.git
	url = https://git.ellucian.com/scm/banxeplug/banner_spring_security_saml.git
[submodule "plugins/banner_general_direct_deposit_ui.git"]
	path = plugins/banner_general_direct_deposit_ui.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_direct_deposit_ui.git
[submodule "plugins/banner_general_personal_information_ui.git"]
	path = plugins/banner_general_personal_information_ui.git
	url = https://git.ellucian.com/scm/banxeplug/banner_general_personal_information_ui.git
[submodule "plugins/banner-sspb.git"]
    	path = plugins/banner-sspb.git
    	url = https://git.ellucian.com/scm/banxeframe/banner-sspb.git
[submodule "plugins/banner-restful-api-support.git"]
    	path = plugins/banner-restful-api-support.git
    	url = https://git.ellucian.com/scm/banxeplug/banner-restful-api-support.git
[submodule "plugins/banner_aip.git"]
    	path = plugins/banner_aip.git
    	url = https://git.ellucian.com/scm/banxeplug/banner_aip.git
 [submodule "plugins/banner_aip_ui.git"]
    	path = plugins/banner_aip_ui.git
    	url = https://git.ellucian.com/scm/banxeplug/banner_aip_ui.git

[submodule "plugins/restful-api.git"]
	path = plugins/restful-api.git
	url = https://github.com/restfulapi/restful-api.git
