/*********************************************************************************
 Copyright 2015-2017 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/

 /** ****************************************************************************
 *                                                                              *
 *                Banner 9 Environment-Specific Configuration                   *
 *                                                                              *
 ***************************************************************************** **/

/*
This file contains shared configuration needed by Banner 9 web applications (aka Banner 9 Modules)
deployed within an environment (e.g., a TEST or PROD).  That is, this is a shared
(aka global) configuration file that may be used by all Banner 9 solutions
deployed into the same environment (and thus deployed to point to the same database).

Please refer to the administration guide for detailed explanations of the configuration items.

This configuration file contains the following sections:

    * Transaction timeout (defaults to 30 seconds if not specified)

    * Administrative Users DataSource Configuration

    * Self Service Users DataSource Configuration

    * Banner 8 SS URL

    * Image Path Configuration

***************************************************************************** **/



/** ****************************************************************************
 *                                                                             *
 *                         On-Line Help Configuration                          *
 *                                                                             *
 *******************************************************************************/
onLineHelp.url = "http://HOST:PORT/banner9OH"


/** ****************************************************************************
 *                                                                              *
 *              Transaction timeout Configuration (in seconds)                  *
 *                                                                              *
 ***************************************************************************** **/
banner.transactionTimeout = 30

/** ****************************************************************************
 *                                                                              *
 *              Web session timeout Configuration (in seconds)                  *
 *                                                                              *
 ***************************************************************************** **/
defaultWebSessionTimeout = 1500

/** ****************************************************************************
 *                                                                              *
 *              Administrative User DataSource Configuration                    *
 *                                                                              *
 ***************************************************************************** **/
bannerDataSource {

    // JNDI configuration for use in 'production' environment
    jndiName = "jdbc/bannerDataSource"

    // Local configuration for use in 'development' and 'test' environments
    url   = "jdbc:oracle:thin:@HOST:PORT:SID"

    username = "USERNAME"
    password = "PASSWORD"
    driver   = "oracle.jdbc.OracleDriver"

    // Local configuration for using elvyx to view SQL statements that are bound. To enable this driver, simply uncomment the
    // elvyx driver and url below. Do NOT comment out the 'myDataSource.url' above -- it is still needed for the authentication data source.
    // To use elvyx, download from "http://www.elvyx.com", unzip, and run from it's top-level directory: java -jar lib/elvyx-1.0.24.jar
    //
    //elvyx.driver = "com.elvyx.Driver"
    //elvyx.url    = "jdbc:elvyx://localhost:4448/?elvyx.real_driver=${bannerDataSource.driver}&elvyx.real_jdbc=${bannerDataSource.url}&user=${bannerDataSource.username}&password=${bannerDataSource.password}"
}


/** *****************************************************************************
 *                                                                              *
 *                 Self Service User DataSource Configuration                   *
 *                                                                              *
 ***************************************************************************** **/

bannerSsbDataSource {

    // JNDI configuration for use in 'production' environment
    //
    jndiName = "jdbc/bannerSsbDataSource"

    // Local configuration for use in 'development' and 'test' environments
    //
    url   = "jdbc:oracle:thin:@HOST:PORT:SID"

    username = "USERNAME"
    password = "PASSWORD"
    driver   = "oracle.jdbc.OracleDriver"

    // Local configuration for using elvyx to view SQL statements that are bound. To enable this driver, simply uncomment the
    // elvyx driver and url below. Do NOT comment out the 'myDataSource.url' above -- it is still needed for the authentication data source.
    // To use elvyx, download from "http://www.elvyx.com", unzip, and run from it's top-level directory: java -jar lib/elvyx-1.0.24.jar
    //
    //elvyx.driver = "com.elvyx.Driver"
    //elvyx.url    = "jdbc:elvyx://localhost:4448/?elvyx.real_driver=${bannerSsbDataSource.driver}&elvyx.real_jdbc=${bannerSsbDataSource.url}&user=${bannerSsbDataSource.username}&password=${bannerSsbDataSource.password}"
}
/**********************************************************************************
 *    Location of users' profile picture image files                               *
 /**********************************************************************************/
banner {
    picturesPath = System.getProperty( 'base.dir' ) + '/test/images'
    // defaultPhoto = <Fully qualified path to the photo to use if no user photo is available.>
}

/********************************************************************************
 *                                                                              *
 *                 Banner 8 SS URLs                                             *
 *                                                                              *
 ***************************************************************************** **/

banner8.SS.url = 'http://<host_name>:<port_number>/<banner8>/'
banner8.SS.locale.url = [
        default: 'http://<host_name>:<port_number>/<banner8>/DEFAULT/',
        en     : 'http://<host_name>:<port_number>/<banner8>/EN/',
        en_US  : 'http://<host_name>:<port_number>/<banner8>/enUS/',
        en_AU  : 'http://<host_name>:<port_number>/<banner8>/enAU/',
        en_GB  : 'http://<host_name>:<port_number>/<banner8>/enGB/',
        en_IE  : 'http://<host_name>:<port_number>/<banner8>/enIE/',
        en_IN  : 'http://<host_name>:<port_number>/<banner8>/enIN/',
        fr     : 'http://<host_name>:<port_number>/<banner8>/FR/',
        fr_CA  : 'http://<host_name>:<port_number>/<banner8>/frCA/',
        pt     : 'http://<host_name>:<port_number>/<banner8>/PT/',
        es     : 'http://<host_name>:<port_number>/<banner8>/ES/',
        ar     : 'http://<host_name>:<port_number>/<banner8>/AR/'
]

// ********************************************************************************
//    MEP Setup
// ********************************************************************************
//To use MEP context sensitive 8.x SSB URLs in menus uncomment the mep.banner8.locale.SS.url lines
/***********************************************************************
mep.banner8.SS.url = [
    GVU : 'http://example.ellucian.com:8888/ssomanager/c/SSB?pkg=http://example.ellucian.com:9020/SMPL_GVU/',
    BANNER : 'http://example.ellucian.com:8888/ssomanager/c/SSB?pkg=http://example.ellucian.com:9020/SMPL_BANNER/'
]

mep.banner8.SS.locale.url = [
        GVU   :
                [
                        default: 'sampleUrlDefault ',
                        "ar"   : 'sampleUrlAR ',
                        "fr"   : 'sampleUrlfr',
                        "fr_CA": 'sampleUrlfrca'
                ],
        BANNER:
                [
                        default: 'sampleUrlDefault',
                        "ar"   : 'sampleUrlAR',
                        "fr"   : 'sampleUrlfr ',
                        "fr_CA": 'sampleUrlfrca'
                ]
]

************************************************************************/
