<!--******************************************************************************
  Copyright 2019 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-mgmt-home-content">
    <div ng-if="proxies.length < 1" class="center-contents">
        <div class="proxy-mgmt-no-proxy-top"></div>
        <div class="proxy-mgmt-msg-primary">
            {{'proxyManagement.message.noProxyYet'|i18n}}
        </div>
        <div class="proxy-mgmt-msg-secondary">
            {{'proxyManagement.message.addProxyUsingButton'|i18n}}
        </div>
        <div class="proxy-mgmt-button-container center">
            <button ng-click="goToEditProxyState()" class="primary">{{'proxyManagement.label.addProxy'|i18n}}</button>
        </div>
    </div>
    <div ng-if="proxies.length > 0">
        <ng-include src="'globalProxyManagementApp/globalProxyManagementHome/globalProxyList.html'|webAppResourcePath"></ng-include>
    </div>
</div>
<proxy-mgmt-mobile-footer-button click-function="goToEditProxyState" ng-if="proxies.length > 0">
    {{'proxyManagement.label.addProxy'|i18n}}
</proxy-mgmt-mobile-footer-button>
