<!--******************************************************************************
  Copyright 2020 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div ng-class="students.active.length > 0 && userHasActivePreferredEmailAddress != undefined &&
    userHasActivePreferredEmailAddress == true ? '' : 'proxy-mgmt-home-content'">
        <div ng-if="userHasActivePreferredEmailAddress != undefined
        && userHasActivePreferredEmailAddress == false">
            <global-proxy-mgmt-notification display-message="{{'globalProxyManagement.message.noActivePreferredEmailAddress'|i18n}}" notification-type="warning" />
        </div>
        <div ng-if="userHasActivePreferredEmailAddress != undefined &&
        userHasActivePreferredEmailAddress == true &&
        proxiesLoaded && students.active.length < 1" class="center-contents">
            <ng-include src="'globalProxyManagementApp/globalProxyManagementHome/globalProxyNoProxyAddedYetTemplate.html'|webAppResourcePath"></ng-include>
        </div>
    <div ng-if="userHasActivePreferredEmailAddress != undefined &&
        userHasActivePreferredEmailAddress == true && students.active.length > 0">
        <ng-include src="'globalProxyManagementApp/globalProxyManagementHome/globalProxyMgmtLandingPage.html'|webAppResourcePath"></ng-include>
    </div>
</div>
<!---TODO Uncomment when proxy list ready
<proxy-mgmt-mobile-footer-button click-function="goToEditProxyState" ng-if="proxies.length > 0">
    {{'proxyManagement.label.addProxy'|i18n}}
</proxy-mgmt-mobile-footer-button>
-->
