<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="row semi-bold">
    <div class="col-xs-6 col-sm-4 col-md-4 pad-left-sm xs-fix">
        <p class="input-field-label ng-class: (routingNumErr ? 'field-error' : null);">Bank Routing Number</p>
        <input type="text" id="routing-number" data-ng-model="account.bankRoutingNum" ng-blur="validateRoutingNum()"
            class="text-input-field ng-class: (routingNumErr ? 'input-field-error' : null); semi-bold form-spacing"  placeholder="Bank Routing Number" tabindex="1"/>
        <p class="ng-class: (routingNumErr ? 'field-error' : null);">{{routingNumMessage}}</p>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 xs-fix"><!-- col-xs-6   ng-change="clearRoutingNumErr()"  -->
        <p class="input-field-label">Bank Account Number</p>
        <input id="account-number" data-ng-model="account.bankAccountNum" ng-change="clearRoutingNumErr()" type="text" class="text-input-field semi-bold form-spacing"  placeholder="Bank Account Number" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 pad-right-sm xs-fix clear-xs-sm">
        <p class="input-field-label">Account Type</p>
        <div class="dropdown">
            <button class="dropdown-btn" data-toggle="dropdown" href="#" role="option" >
                <span class="float-l semi-bold form-spacing">
                    <choose-account acct="account"/>
                </span>
                <span class="icon float-r form-spacing"><span class="icon-caret-down"></span></span>
            </button>
            <ul class="dropdown-menu addAcct" role="menu" aria-labelledby="accountTypeSelect">
                <li ng-click="setAccountType('C')">
                    <a class="addAcct form-spacing" role="option" href="">Checking</a>
                </li>
                <li ng-click="setAccountType('S')">
                    <a class="addAcct end-dropdown-radius form-spacing" role="option" href="">Savings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row disclaimer-margin">
    <div class="col-xs-12">
        <input type="checkbox" class="main-nav-check" id="main-nav-check" ng-click="toggleAuthorizedChanges()"/>
        <p class="lbl">By checking this box, I authorize changes to my direct deposit allocations.</p>
    </div>
</div>
