<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->

<div >
	<!-- Dialog starts here -->
	<div>
	    <div class="padding-2em-below">
		    <div class="dialog-hdr2">
		        <button class="close closebtn" ng-click="cancelModal()" title="close"></button>
		    </div>
		    <h3 class="dialog-hdr1">Add Accounts Payable Deposit</h5>
	    </div>
	    <ng-include
            src="'../generalSsbApp/ddAddAccount/accountNumberInput.html'">
        </ng-include>
    </div>
	<div class="padding-2em-above modal-footer">
	    <div class="center-l">
            <a class="cancel-btn" ng-click="cancelModal()"><span class="mid-dash">Cancel</span></a>
        </div>
        <div class="center-r">
            <!-- <input class="primary-button" type="submit" value="Save" ng-click="saveAccount()" />-->
            <a class="save-btn" ng-click="saveAccount()">Save</a>
       </div>
    </div>
    <!-- Dialog ends here -->
</div>
