<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->

<div class="container-fluid" hide-pop-over>
    <!--Page Header Starts here-->
    <h2>Add Accounts Payable Deposit</h2>
    <p>{{ madeit }}<br/>
    rout: {{ account.bankRoutingNum }}<br/>
    acct: {{ account.bankAccountNum }}<br/>
    type: {{ account.accountType }}</p>
    <form>
        <h3>Bank Routing Number</h3>
        <!-- <input id="search-input" data-ng-model="searchString" type="text" class="form-control" ng-change="searchEmployees()"
                                       placeholder="{{'pay.stub.administration.employee.search.min.chars' | i18n}}" /> paystubadminsearch.html -->
        <input id="routing-number" data-ng-model="account.bankRoutingNum" type="text" class="form-control"  placeholder="Bank Routing Number" />
        <h3>Bank Account Number</h3>
        <input id="account-number" data-ng-model="account.bankAccountNum" type="text" class="form-control"  placeholder="Bank Account Number" />
        <h3>Account Type</h3>
        <!-- <li class="dropdown" > <a class="dropdown-toggle year-month-dropdown-select-wrapper earning-by-range-dropdown-width-month" data-toggle="dropdown" href="#" role="option" >{{getMonthName(search_month_from)}}<span class="down-caret"></span> </a>
            <ul class="dropdown-menu">
                <li ng-repeat=" month in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-click="updateFromMonthModel(month);">
                    <a role="option" href="">{{getMonthName(month)}}</a>
                </li>
            </ul>
        </li> earningbydaterange.html -->
        <select data-ng-model="account.accountType">
            <option value="S">Savings</option>
            <option value="C">Checking</option>
        </select>
        <input type="submit" value="Save" ng-click="saveAccount()" />
        <input type="submit" value="Cancel"/>
    </form>
</div>
