<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="dd-account-input row semi-bold">
    <div class="clear-both xs-fix">
        <label ng-class="(routingNumErr? 'input-field-label field-error' : 'input-field-label')" for="routing-number">{{'directDeposit.account.label.bank.routing.num'|i18n}}</label>
        <pop-over class="dd-popover" popover-img="../images/sample_check.jpg"></pop-over>
        <input ng-model="account.bankRoutingInfo.bankRoutingNum" ng-blur="validateRoutingNum()" ng-disabled="!creatingNewAccount"
             ng-class="['text-input-field', 'semi-bold', 'form-spacing', (routingNumErr ? 'input-field-error' : null)]" mask-input
             id="routing-number" type="text" placeholder="{{'directDeposit.account.label.bank.routing.num'|i18n}}" />
        <span ng-if="routingNumErr" class="icon input-fail">
            <span class="icon-error ellucian-font"></span>
        </span>
        <p class="input-field-label ng-class: (routingNumErr ? 'field-error error-font-size' : 'no-display');">{{routingNumMessage}}</p>
    </div>
    <div class="xs-fix">
        <label ng-class="(accountNumErr ? 'input-field-label field-error' : 'input-field-label')" for="account-number">{{'directDeposit.account.label.account.num'|i18n}}</label>
        <pop-over class="dd-popover" popover-img="../images/sample_check.jpg"></pop-over>
        <input data-ng-model="account.bankAccountNum" ng-blur="validateAccountNum()" ng-disabled="!creatingNewAccount"
            ng-class="['text-input-field', 'semi-bold', 'form-spacing', (accountNumErr ? 'input-field-error' : null)]" mask-input
            id="account-number" type="text" placeholder="{{'directDeposit.account.label.account.num'|i18n}}"/>
        <span ng-if="accountNumErr" class="icon input-fail">
            <span class="icon-error ellucian-font"></span>
        </span>
        <p class="input-field-label ng-class: (accountNumErr ? 'field-error error-font-size' : 'no-display');">{{accountNumMessage}}</p>
    </div>
    <div class="xs-fix">
        <label ng-class="(accountTypeErr ? 'input-field-label field-error' : 'input-field-label')" >{{'directDeposit.account.label.accountType'|i18n}}</label>
        <label class="visuallyhidden" id="select-acct-type">{{'directDeposit.label.account.type.select'|i18n}}</label>
        <div class="dropdown" role="menu">
            <button dropdown-helper="begin" ng-class="(accountTypeErr ? 'dropdown-btn input-field-error' : 'dropdown-btn')" data-toggle="dropdown" aria-labelledby="select-acct-type account-type">
                <span class="float-l semi-bold form-spacing" aria-live="polite">
                    <choose-account id="account-type"/>
                </span>
                <span class="float-r form-spacing down-caret caret-color"></span>
            </button>
            <ul class="dropdown-menu addAcct">
                <li role="presentation">
                    <a ng-click="setAccountType('C')" class="addAcct form-spacing" href="#" role="menuitem">{{'directDeposit.account.type.checking'|i18n}}</a>
                </li>
                <li role="presentation">
                    <a dropdown-helper="end" ng-click="setAccountType('S')" class="addAcct end-dropdown-radius form-spacing" href="#" role="menuitem">{{'directDeposit.account.type.savings'|i18n}}</a>
                </li>
            </ul>
        </div>
        <p ng-show="accountTypeErr" class="input-field-label field-error error-font-size">{{'directDeposit.invalid.missing.account.type'|i18n}}</p>
    </div>
    <div ng-if="typeIndicator==='HR'" class="col-xs-6 col-sm-4 col-md-4 pad-right-sm xs-fix">
        <label ng-class="(amountErr ? 'input-field-label field-error' : 'input-field-label')" >{{'directDeposit.account.label.amount'|i18n}}</label><br>
        <input ng-model="amountType" class="edit-radio" type="radio" name="amount-type" value="remaining" checked><span class="lbl radio-list">{{'directDeposit.account.amount.remaining'|i18n}}</span><br>
        <input ng-model="amountType" class="edit-radio" type="radio" name="amount-type" value="amount"><span class="lbl radio-list">{{'directDeposit.account.label.amount'|i18n}}</span><br>
        <input ng-model="amountType" class="edit-radio" type="radio" name="amount-type" value="percentage"><span class="lbl radio-list">{{'directDeposit.account.amount.percentage'|i18n}}</span><br>
        <p ng-show="amountErr" class="input-field-label field-error error-font-size">Amount error</p>
    </div>
</div>
<div class="row disclaimer-margin">
    <div>
        <label class="visuallyhidden" for="disclaimer-checkbox">{{'directDeposit.label.disclaimer.checkbox'|i18n}}</label>
        <input ng-click="toggleAuthorizedChanges()" class="main-nav-check" id="disclaimer-checkbox" type="checkbox" aria-describedby="disclaimer"/>
        <p class="lbl" id="disclaimer">{{disclaimer}}</p>
    </div>
</div>
