<div class="confirm-delete-notification">
    <div class="notification-icon">
        <span class="icon-alert-CO"></span>
    </div>
    <div class="notification-text" aria-live="polite">
        {{'directDeposit.confirm.ap.delete.text'|i18n}}
    </div>
</div>
<div class="dialog-footer-margin modal-footer addAcct">
    <button class="dialog-btn" ng-click="cancelModal()">{{'directDeposit.button.cancel'|i18n}}</button>
    <button class="dialog-btn save-btn" ng-click="deleteAPAccount()">
        <span class="mid-dash">{{'directDeposit.button.delete'|i18n}}</span>
    </button>
</div>
