<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<label class="input-field-label">{{'directDeposit.label.choose.option'|i18n}}:</label><br>
<input ng-model="setup.createFromExisting" class="edit-radio" type="radio" name="create-option" value="yes" aria-labelledby="create-opt-existing"><span class="lbl radio-list" id="create-opt-existing">{{'directDeposit.label.create.from.exisiting'|i18n}}</span>
<div ng-show="setup.createFromExisting === 'yes'" class="existing-accts-old">
    <label class="visuallyhidden" id="select-existing">{{'directDeposit.label.select.from.exisiting'|i18n}}</label>
    <span><select-bank-acct class="visuallyhidden" id="existing-acct" tabindex="-1"/></span>
    <div ng-show="typeIndicator==='AP'" class="dropdown" role="menu">
        <button dropdown-helper="begin" class="dropdown-btn" data-toggle="dropdown" aria-labelledby="select-existing existing-acct">
            <span class="float-l semi-bold form-spacing">
                <select-bank-acct/>
            </span>
            <span class="float-r form-spacing down-caret caret-color"></span>
        </button>
        <ul menu-controls class="dropdown-menu addAcct">
            <li ng-repeat="existingAcct in setup.otherAccounts" role="presentation">
                <a dropdown-helper="{{($last ? 'end': null)}}" ng-class="[($last ? 'end-dropdown-radius' : null)]" ng-click="selectOtherAcct(existingAcct)" class="addAcct form-spacing force-break-word" role="menuitem" tabindex="0">
                   {{existingAcct.bankRoutingInfo.bankName}}<br>
                   <span class="no-bold">{{'directDeposit.account.label.account'|i18n}}: {{existingAcct.bankAccountNum|accountNumMask}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div ng-show="typeIndicator==='HR'" class="row">
        <div class="pad-left">
            <span class="semi-bold">{{otherAccountSelected.bankRoutingInfo.bankName}}</span><br>
            {{'directDeposit.account.label.account'|i18n}}: {{otherAccountSelected.bankAccountNum|accountNumMask}}<br>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 xs-fix">
            <label ng-class="(amountErr && !(amountAmtFocused || amountPctFocused)? 'input-field-label field-error' : 'input-field-label')" >{{'directDeposit.account.label.amount'|i18n}}</label><br>
            <input ng-model="account.amountType" class="edit-radio" type="radio" name="existing-amount-type" value="remaining" checked aria-labelledby="rem-radio-label"><span class="lbl radio-list" id="rem-radio-label">{{'directDeposit.account.amount.remaining'|i18n}}</span>
            <br>
            <input ng-model="account.amountType" class="edit-radio" type="radio" name="existing-amount-type" value="amount" aria-labelledby="amt-radio-label"><span class="lbl radio-list" id="amt-radio-label">{{'directDeposit.account.amount.amount'|i18n}}</span>
            <div ng-show="account.amountType === 'amount'" class="amount-spacing ws-nowrap">
                <label class="visuallyhidden" for="amt-text-input">{{'directDeposit.account.label.amount.amount'|i18n}}</label>
                <input ng-model="account.amount" ng-blur="amountAmtFocused=false" ng-focus="amountAmtFocused=true" ng-class="[(amountErr === 'amt' && !amountAmtFocused ? 'input-field-error' : null)]" class="radio-txt-input semi-bold form-spacing" id="amt-text-input" type="number" step="0.01" placeholder="{{'directDeposit.label.input.amount'|i18n}}"/>
                <span ng-if="amountErr === 'amt' && !amountAmtFocused" class="input icon amt-input-fail">
                    <span class="icon-error ellucian-font"></span>
                </span>
            </div>
            <br>
            <input ng-model="account.amountType" class="edit-radio" type="radio" name="existing-amount-type" value="percentage" aria-labelledby="pct-radio-label"><span class="lbl radio-list" id="pct-radio-label">{{'directDeposit.account.amount.percentage'|i18n}}</span>
            <div ng-show="account.amountType === 'percentage'" class="amount-spacing ws-nowrap">
                <label class="visuallyhidden" for="pct-text-input">{{'directDeposit.account.label.amount.percent'|i18n}}</label>
                <input ng-model="account.percent" ng-blur="amountPctFocused=false" ng-focus="amountPctFocused=true" ng-class="[(amountErr === 'pct' && !amountPctFocused ? 'input-field-error' : null)]" class="radio-txt-input semi-bold form-spacing" id="pct-text-input" type="number" step="0.01" placeholder="{{'directDeposit.label.input.percent'|i18n}}"/> %
                <span ng-if="amountErr === 'pct' && !amountPctFocused" class="input icon pct-input-fail">
                    <span class="icon-error ellucian-font"></span>
                </span>
            </div>
            <p ng-show="amountErr" class="input-field-label field-error error-font-size">{{amountMessage}}</p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 xs-fix">
            <label class="input-field-label">{{'directDeposit.account.label.priority'|i18n}}</label><br>
            <label class="visuallyhidden" id="ex-priority-menu">{{'directDeposit.label.account.priority.edit'|i18n}}</label>
            <span class="visuallyhidden" id="ex-priority" tabindex="-1">{{account.priority}}</span>
            <div class="dropdown" role="menu">
                <button dropdown-helper="begin" ng-if="!isRemaining()" class="dropdown-btn" data-toggle="dropdown" aria-labelledby="ex-priority ex-priority-menu">
                    <span class="float-l semi-bold form-spacing">
                        {{account.priority}}
                    </span>
                    <span class="float-r form-spacing down-caret caret-color"></span>
                </button>
                <button dropdown-helper="begin" ng-if="isRemaining()" dd-pop-over popover-msg="directDeposit.invalid.reprioritize.remaining.popover" popover-width="225px"
                        class="dropdown-btn disabled" data-toggle="dropdown" aria-labelledby="ex-priority ex-priority-menu">
                    <span class="float-l semi-bold form-spacing">
                        {{account.priority}}
                    </span>
                    <span class="float-r form-spacing down-caret caret-color"></span>
                </button>
                <ul menu-controls ng-if="!isRemaining()" class="dropdown-menu addAcct">
                    <li ng-repeat="i in priorities" role="presentation">
                        <a ng-click="setAccountPriority(i.displayVal)" dropdown-helper="{{($last ? 'end': null)}}" ng-class="[($last ? 'end-dropdown-radius' : null)]" class="addAcct form-spacing" role="menuitem" tabindex="0">{{i.displayVal}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span ng-if="!!miscMessage" class="misc-message inline-notification field-error">{{miscMessage}}</span>
    <modal-disclaimer ng-show="!!otherAccountSelected.bankRoutingInfo" id="existing-disclaimer"/>
</div>
<br>
<input ng-model="setup.createFromExisting" class="edit-radio" type="radio" name="create-option" value="no" aria-labelledby="create-opt-new"><span class="lbl radio-list no-padding" id="create-opt-new">{{'directDeposit.label.create.new'|i18n}}</span>
<div ng-show="setup.createFromExisting === 'no'" class="existing-accts">
    <ng-include
        src="'../generalSsbApp/ddEditAccount/accountNumberInput.html'">
    </ng-include>
</div>
