<!--*******************************************************************************
Copyright 2015 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<label class="input-field-label">{{'directDeposit.label.choose.option'|i18n}}:</label><br>
<input ng-model="setup.createFromExisting" class="edit-radio" type="radio" name="create-option" value="yes" aria-labelledby="create-opt-existing"><span class="lbl radio-list" id="create-opt-existing">{{'directDeposit.label.create.from.exisiting'|i18n}}</span>
<div ng-show="setup.createFromExisting === 'yes'" class="existing-accts">
    <label class="visuallyhidden" id="select-existing">{{'directDeposit.label.select.from.exisiting'|i18n}}</label>
    <div ng-show="typeIndicator==='AP'" class="dropdown" role="menu">
        <button dropdown-helper="begin" class="dropdown-btn" data-toggle="dropdown" aria-labelledby="select-existing existing-acct-btn">
            <span class="float-l semi-bold form-spacing" aria-live="polite">
                <select-bank-acct id="existing-acct-btn"/>
            </span>
            <span class="float-r form-spacing down-caret caret-color"></span>
        </button>
        <ul class="dropdown-menu addAcct">
            <li ng-repeat="existingAcct in setup.otherAccounts" role="presentation">
                <a dropdown-helper="{{($last ? 'end': null)}}" ng-class="[($last ? 'end-dropdown-radius' : null)]" ng-click="selectOtherAcct(existingAcct)" class="addAcct form-spacing" href="#" role="menuitem">
                   {{existingAcct.bankRoutingInfo.bankName}}<br>
                   <span class="no-bold">{{'directDeposit.account.label.account'|i18n}}: {{existingAcct.bankAccountNum|accountNumMask}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div ng-show="typeIndicator==='HR'">
        <span class="semi-bold">{{otherAccountSelected.bankRoutingInfo.bankName}}</span><br>
        {{'directDeposit.account.label.account'|i18n}}: {{otherAccountSelected.bankAccountNum|accountNumMask}}<br>
        <label ng-class="(amountErr ? 'input-field-label field-error' : 'input-field-label')" >{{'directDeposit.account.label.amount'|i18n}}</label><br>
        <input ng-model="account.amountType" class="edit-radio" type="radio" name="existing-amount-type" value="remaining" checked aria-labelledby="rem-radio-label"><span class="lbl radio-list" id="rem-radio-label">{{'directDeposit.account.amount.remaining'|i18n}}</span>
        <br>
        <input ng-model="account.amountType" class="edit-radio" type="radio" name="existing-amount-type" value="amount" aria-labelledby="amt-radio-label"><span class="lbl radio-list" id="amt-radio-label">{{'directDeposit.account.amount.amount'|i18n}}</span>
        <div ng-show="account.amountType === 'amount'" class="">
            <label class="visuallyhidden" for="amt-text-input">{{'directDeposit.account.label.amount.amount'|i18n}}</label>
            <input ng-model="account.amount" class="radio-txt-input semi-bold form-spacing" id="amt-text-input" type="text" placeholder="{{'directDeposit.label.input.amount'|i18n}}"/>
        </div>
        <br>
        <input ng-model="account.amountType" class="edit-radio" type="radio" name="existing-amount-type" value="percentage" aria-labelledby="pct-radio-label"><span class="lbl radio-list" id="pct-radio-label">{{'directDeposit.account.amount.percentage'|i18n}}</span>
        <div ng-show="account.amountType === 'percentage'" class="ws-nowrap">
            <label class="visuallyhidden" for="pct-text-input">{{'directDeposit.account.label.amount.percent'|i18n}}</label>
            <input ng-model="account.percent" class="radio-txt-input semi-bold form-spacing" id="pct-text-input" type="text" placeholder="{{'directDeposit.label.input.percent'|i18n}}"/> %
        </div>
        <br>
        <p ng-show="amountErr" class="input-field-label field-error error-font-size">Amount error</p>
    </div>
    <modal-disclaimer ng-show="!!otherAccountSelected.bankRoutingInfo"/>
</div>
<br>
<input ng-model="setup.createFromExisting" class="edit-radio" type="radio" name="create-option" value="no" aria-labelledby="create-opt-new"><span class="lbl radio-list no-padding" id="create-opt-new">{{'directDeposit.label.create.new'|i18n}}</span>
<div ng-show="setup.createFromExisting === 'no'" class="existing-accts">
    <ng-include
        src="'../generalSsbApp/ddEditAccount/accountNumberInput.html'">
    </ng-include>
</div>