/* General Styles */
.break-word {
    word-wrap: break-word;
}

.no-margin {
    margin: 0 !important;
}


#content {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    min-height: initial !important;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    position: static;
}

.panel.panel-accordion {
    border-radius: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.panel-accordion .panel-heading {
    padding: 0;
    border-radius: 0;
    background-color: #f2f2f2;
}

.panel-accordion .panel-title {
    padding: 0;
    font-weight: bold;
}

.panel-accordion .panel-title > a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.panel-accordion .panel-title > a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: grey;
}

.panel-accordion .panel-heading > a.collapsed {
    background-color: #f2f2f2;
}

.panel-accordion .panel-title > a.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-accordion .panel-body {
    background-color: #ffffff;
}

.desktop-disclaimer {
    float: right;
    margin: 40px 15px 0 0;
}

.desktop-save {
    float: right;
    margin: 15px 15px 0 0;
}

.direct-deposit #outerFooter {
    z-index: 13;
}


/***************************/
/* Add Account Page Styles */
/***************************/
.float-l {
    float: left;
}

.float-r {
    float: right;
}
.no-padding {
    padding: 0px;
}

.semi-bold {
    font-weight: bold;
}

.no-display {
    display: none;
}

.input-field-label {
    padding: 0.875em 0em;
    margin: 0px;
}

.field-error {
    color: #CD3B3E;
}

.error-font-size {
    font-weight: normal;
}

.text-input-field {
    border-radius: 4px;
    background-color: #fff;
    border:1px solid #869FB1;
    box-shadow: 4px 4px #EDF3F6 inset;
    width: 100%;
    color: #869FB1;
}

@media(max-width:568px){
    .xs-fix {
        width: 100%;
    }
}

@media(max-width:767px){
    .clear-xs-sm {
        clear: both;
    }
}

.text-input-field::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #869FB1;
    font-weight: bold;
}
.text-input-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #869FB1;
   font-weight: bold;
   opacity:  1;
}
.text-input-field::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #869FB1;
   font-weight: bold;
   opacity:  1;
}
.text-input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #869FB1;
   font-weight: bold;
}
.dropdown .input-field-error,
.input-field-error {
    background-color: #F6E5E6;
    border:1px solid #CD3B3E;
    box-shadow: 3px 3px #F0D3D3 inset;
    width: 100%;
    color: #CD3B3E;
}

.input-field-error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #CD3B3E;
    font-weight: bold;
}
.input-field-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #CD3B3E;
   font-weight: bold;
   opacity:  1;
}
.input-field-error::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #CD3B3E;
   font-weight: bold;
   opacity:  1;
}
.input-field-error:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #CD3B3E;
   font-weight: bold;
}

.input-fail {
    position: absolute;
    float: right;
    right: 1.75em;
    top: 4.285em;
    background: #F6E5E6;
}

.text-input-field:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #206E9F;
    box-shadow: 0px 2px #CBE2E8 inset;
    color: #4F585F;
}

.dialog-hdr1 {
    margin: 0px;
   padding: 1em 1em 0.5em;
}

.dialog-footer-margin {
    margin-top: 1.5em;
}

.disclaimer-margin {
    margin-top: 1.25em;
}

.dialog-hdr2 {
    margin: 0px;
    float: right;
    width: 100%;
}

button.closebtn {
    color: #4f585f;
    opacity: 1;
    font-size: 14px;
    font-family: open-sans-semi-bold;
    background: url('../images/close.svg') 50% 50% no-repeat;
    padding: 2.85em;
    display: block;
    border: none;
}

.modal-footer.addAcct {
    display: table;
    padding: 1px 0px 0px;
    border-top: 1px solid black;
    width: 100%;
}

.dialog-btn {
    box-sizing: border-box;
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    overflow: auto;
    border-style: none;
    border-radius: 6px;
    background: white;
    color: #206E9F;
    line-height: normal;
    padding: 1em;
}

.save-btn {
    padding: 0em;
}

.save-btn[disabled] {
    color: #869FB1;
}

.desktop-save .save-btn {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 8px 25px;
}

.desktop-save .save-btn[disabled] {
    color: #C6DFF1;
    opacity: 0.65;
}

.mid-dash {
    float: left;
    width: 100%;
    border-left: 1px solid rgb(0, 0, 0);
    padding: 0.25em 1em;
    margin: 0.75em 0em;
}

/*  Dropdown menu  */
.form-spacing,
.dropdown-menu > li > a.form-spacing {
    padding: 1em .75em;
    line-height: 136%;
}

.dropdown-btn {
    border-radius: 4px;
    background-color: #fff;
    border:1px solid #869FB1;
    box-shadow: 0px -4px #DEE5E7 inset;
    width: 100%;
    color: #869FB1;
}

.dropdown-btn:focus {
    box-shadow: 0px 2px #CBE2E8 inset;
    color: #4F585F;
}

.open > .dropdown-btn {
    border-style: solid;
    border-width: 1px;
    border-color: #206E9F;
    color: #4F585F;
}

.float-r.form-spacing.down-caret:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
}

.open > .dropdown-btn .caret-color,
.dropdown-btn:focus .caret-color {
    color: #206E9F;
}

.desktop .dropdown-btn {
    color: #4F585F;
    width: 222px;
}

.dropdown-menu.addAcct {
    left: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.open > .dropdown-menu.addAcct{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #206E9F;
    top: 3.175em;
}

.dropdown-menu > li > a.addAcct {
    border-width: 1px;
    border-radius: 0px;
    border-style: solid none;
    border-color: #FFFFFF;
    color: #4F585F;
    font-weight: bold;
}

.dropdown-menu > li > a.addAcct:hover,
.dropdown-menu > li > a.addAcct:focus  {
    border-top-color: #B0DEEC;
    border-bottom-color: #B0DEEC;
    background-color: #F3FCFF;
}

.dropdown-menu > li > a.addAcct.end-dropdown-radius {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.desktop .dropdown-menu > li > a.addAcct {
    font-weight: normal;
}

/*  Check box  */
/*Custom Radio and check boxes*/
input[type=checkbox],input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 12;
    width: 1.25em;
    height: 1.25em;
}

input[type=checkbox]+.lbl,input[type=radio]+.lbl {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 14px;
    min-width: 14px;
}

input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before {
    font-family: fontAwesome;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    content: "\a0";
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    min-width: 18px;
    margin-right: 5px;
    margin-top: -5px;
    border-radius: 4px;
}

input[type=checkbox]:focus+.lbl::before,input[type=radio]:focus+.lbl::before,input[type=checkbox][focus]+.lbl::before,input[type=radio][focus]+.lbl::before,input[type=checkbox].focus+.lbl::before,input[type=radio].focus+.lbl::before {
    border: 1px solid  #316699;
}

/* Checked state styles */
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before {
    display: inline-block;
    content: '\2713';
    background-color: #006600;
    border: 1px solid #006600;
}

/* Account Listing Page Styles */
.entry {
    padding-left: 20px;
}

.account-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.account-field {
    margin-bottom: 10px;
}

.listing-panel-populated,
.listing-panel-nonpopulated {
    height: 60px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
}

a.replace-account-link,
a.add-account-link {
    position: absolute;
    top: 21px;
    right: 20px;
    color: #333;
    text-decoration: none;
}

.notification-box-wrapper {
    width: 100%;
    padding: 0 15px;
}

.dd-notification-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 12px;
    padding: 10px;
    background-color: #fffeea;
    display: table;
}

.notification-icon {
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
}

.notification-text {
    display: table-cell;
}

.desktop-account-list-table {
    display: table;
    /*border-spacing: 90px 0;*/
}

.desktop-account-list-row {
    display: table-row;
}

.desktop-account-list-cell {
    display: table-cell;
    padding-right: 90px;
}

.account-list-heading {
    font-weight: bold;
}

/*  Custom modal  */
.direct-deposit .modal.in .modal-dialog {
    transform: translate(0em, 7em);
}

@media(min-width:768px){
    .direct-deposit .modal-dialog {
        width: auto;
    }
}

@media(min-width:1024px){
    .direct-deposit .modal-dialog {
        width: 768px;
    }
}

.pad-dialog-lr {
    padding: 0em 2em;
}

/* Icons */
.icon-add-new {
    background: url('../images/add-new.svg') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

.icon-replace {
    background: url('../images/replace.svg') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: bottom;
}

/*Table and grid section styles*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #beccd7;
    border-bottom: 1px solid #beccd7;
    border-top: none;
    background: #ffffff;
}

table th, .table>thead>tr>th {
    background: #ffffff url('../images/table-separator.png') center right no-repeat;
    border: none;
    padding: 18px 16px 18px 16px;
    text-align: left;
    border-bottom: 1px solid #c0ced0;
    vertical-align: middle;
}

table th:last-child, .table>thead>tr>th:last-child, .dashboard th:nth-of-type(8), .dashboard th:nth-of-type(9) {
    background: none;
    white-space: nowrap;
}
.dashboard td:nth-of-type(8), .dashboard td:nth-of-type(7)  {
    white-space: nowrap;

}

table tr:hover {
    background: #F3FCFF !important;
}

table tr:hover th:last-child, .dashboard tr:hover th:nth-of-type(8) {
    background: #ffffff;
}

table th span, .table>thead>tr>th span, table tr td {
    color: #4F585F;
    font-weight: 500;
    vertical-align: middle;
}

table>thead>tr>th:first-child, table>tbody>tr>td:first-child {
    padding-left: 20px;
}

table tr td {
    font-weight: normal;
    border-bottom: 1px solid #beccd7;
    padding: 15px 16px 15px 16px;
}


/* Media Query Section */

@media(max-width:1024px){
    body {
        padding: 0;
    }
}

@media(min-width:768px){
    .account-heading {
        margin-bottom: 15px;
    }

    .account-field {
        float: left;
        margin-right: 90px;
        margin-bottom: 15px;
    }

    .dd-notification-box {
        margin-left:  auto;
        margin-right: auto;
    }
    
    .dialog-hdr1 {
        font-size: 24px;
        padding: 1em 1em 0.75em;
    }
    
    button.closebtn {
        padding: 2.35em;
    }
    .pad-dialog-lr {
        padding: 0em 1.7em;
    }
}
