/********************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
********************************************************************************/
/* General Styles */
body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

svg.hide-svg {
    height: 0;
}

h2 {
    font-size: 24px;
}

.gen-home-heading,
.gen-home-content {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.gen-home-heading {
    top: 25px;
}

.gen-home-heading-spacer {
    display: none;
}

.gen-home-content {
    top: 220px;
    height: 500px;
}

.gen-home-heading .title {
    font-size: 28px;
    color: #888D91;
    padding-bottom: 25px;
}

.gen-home-heading .greeting-wrapper {
    clear: both;
    padding-top: 15px;
}

.gen-home-heading .avatar {
    width: 66px;
    height: 80px;
    margin-right: 25px;
    float: left;
}

.gen-home-heading .avatar svg {
    width: 66px;
    height: 80px;
}

.gen-home-heading .avatar-spacer {
    display: none;
}

.gen-home-heading .greeting {
    font-size: 16px;
    color: #888D91;
    margin-top: 10px;
}

.gen-home-heading .greeting .landingDesc {
    height: 55px;
    overflow-y: auto;
}

.gen-home-title-divider {
    width: 30px;
    height: 2px;
}

.gen-home-title-divider span {
    border-bottom: 2px solid #989DA2;
    width: 100%;
    float: left;
    margin-top: 1.0em;
    margin-bottom: 0.675em;
}

.gen-app-tile {
    float: left;
    margin-right: 15px;
    padding: 15px 15px 0;
    text-align: center;
    border: none;
    border-bottom: 4px solid #ddd;
    overflow: hidden;
    background: white;
    cursor: pointer;
}

.tile-icon {
    float: left;
    width: 25%;
}

.gen-app-tile img {
    margin: -10px 0 0 -10px;
}

.tile-content {
    float: left;
    width: 75%;
}

.tile-title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.tile-desc {
    text-align: left;
    font-size: 14px;
}

.actionpassword {
    clear: both;
    font-size: 0.50em;
    color: #FFF;
    text-align: left;
}

.required-field::before {
    content: "*";
    color: red;
}

.required:after { content:" *"; }

.red-star {
    color: red;
    float: right;
}

table.dataentrytable {
    border-spacing: 0px;
    width:80%;
}

.proxy-profile-form {
    padding: 0px 16px;
}

.proxy-profile-form input.hasMultiCalendarPicker.pi-date-input + span.calendar-img {
    right: 5px;
}

ul{
    margin:0;
    padding:0 20px;
}

.right {
    text-align: right;
    margin-right: 1em;
}

#awardhistory th .right{
    text-align: right;
}

#content.proxy {
    font-family: OpenSans-regular;
    font-size: 14px;
    background: #f8f8f8;
}

h1.proxy-page-heading {
    display: none;
}

.proxy-pi-top-link {
    font-family: OpenSans-semibold;
    text-decoration: underline;
    padding: 23px 0 19px;
    text-align: center;
}

.proxy-page-student-name {
    font-family: OpenSans-semibold;
    padding: 23px 15px 19px;
    text-align: center;
}

h1.proxy-landing-page-heading {
    font-family: OpenSans-semibold;
    font-size: 18px;
    color: #151618;
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid #dddddd;
}

.proxy-page-body {
    padding: 0 16px 100px;
}

.mobile-visible {
    visibility: visible;
}

.desktop-visible {
    visibility: hidden;
}

.notification-msg {
    font-family: OpenSans-semibold;
}

p.notification-msg {
    margin-bottom: 20px;
}

.holds-msg-container {
    font-family: OpenSans-semibold;
    background: #ffffff;
    padding: 15px;
}

.proxy-content-item {
    background: #ffffff;
    margin-top: 20px;
    padding: 20px 5px;
}

.proxy-content-item-label {
    font-family: OpenSans-semibold;
    margin-bottom: 14px;
}

.subsection-divider {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.subsection-divider span {
    border-bottom: 1px solid #BEC5CB;
    width: 100%;
    float: left;
    margin-top: 1.0em;
    margin-bottom: 0.675em;
}

.subsection-divider-spacer {
    height: 25px;
}

.gpa-summary-header {
    background: #ffffff;
    font-family: OpenSans-semibold;
    font-size: 18px;
    padding: 20px;
}

.select-term {
    padding-top: 34px;
}

.grades-list {
    margin-top: 20px;
}

.proxy .fc-event:hover {
    color: #0c4e8c;
}

.proxy-top-message-container {
    padding: 22px 32px;
    margin: 10px 0 22px;
    background: #eff7ff;
    border-top: 2px solid #51abff;
}

.proxy-top-message-container.pi {
    margin-left: 0;
    margin-right: 0;
}

.proxy-notification-icon {
    font-size: 24px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: top;
}

.proxy-notification-icon [class^="icon-"] {
    font-weight: bold;
}

.proxy-notification-icon.blue {
    color: #428bca;
}

.proxy-notification-text {
    display: table-cell;
    vertical-align: middle;
}

.proxy-top-message {
    font-family: OpenSans-semibold;
    font-size: 16px;
    color: #428bca;
}

.proxy-top-input {
    margin-top: 10px;
    width: 100%;
}

.proxy-section-heading {
    font-size: 20px;
    margin-top: 28px;
}

.proxy-section-heading.pi {
    float: left;
    margin-top: inherit;
}

.proxy-pi-right-message {
    float: right;
    margin-top: 20px;
}

.pi-section {
    background: #FFFFFF;
    margin: 20px 0px;
    padding: 19px;
    padding-top: 9px;
    box-shadow: 0 0 10px 0px #CECECE;
    border-radius: 6px;
}

.pi-section .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.proxy-pi-bottom-spacer {
    padding: 5px;
}

.proxy-content-section {
    background: #FFFFFF;
    box-shadow: 0 0 10px 0px #CECECE;
    border-radius: 6px;
    margin-left: 0;
    margin-right: 0;
}

.proxy-bottom-buttons {
    padding: 42px 0 100px;
}

.proxy-bottom-buttons input {
    width: 100%;
    height: 44px;
}

.proxy-bottom-buttons .mobile-visible input {
    margin-bottom: 20px;
}

/* Action Password Page - BEGIN */
.actionPW.pageBg {
    overflow: auto;
}

.actionPW.splashBg {
    height: unset;
    width: unset;
    top: unset;
    margin: 2em;
    padding: 1em;
    left: unset;
}

.actionPW.splashBg .ellucianName {
    position: unset;
    left: unset;
    top: unset;
    height: 2.5em;
    width: 12em;
}

.actionPW.splashBg .appName {
    font-size: 2em;
    padding-bottom: 1em;
    position: unset;
    top: unset;
    right: unset;
}

.actionPW.splashBg .loginMsg {
    top: unset;
    right: unset;
    position: relative;
    font-weight: bold;
    text-align: left;
    padding: 1em 0;
    font-size: 1.5em;
}

.eds-text-field.action-input {
    width: 100%;
    margin: 1em 0;
    font-family: sans-serif !important;
    font-size: 1.2em !important;
}

.eds-text-field.action-input:focus:not([valid]) {
    font-family: sans-serif !important;
}

.primary.submit-btn {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em 1.5em;
    font-family: sans-serif !important;
    font-size: 1.2em;
}

.actionPW.splashBg .copyright {
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    margin: 1em 0;
    padding: 1em 0;
    position: relative;
}
/* Action Password Page - END   */

.proxy input.hasMultiCalendarPicker.pi-date-input {
    font-weight: normal;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #B2B3B7;
    box-shadow: none;
    width: 100%;
    height: auto;
    color: #151618;
    padding: 1em .75em;
    line-height: 136%;
    float: none;
}

.text-input-field:focus,
.proxy input.hasMultiCalendarPicker.pi-date-input:focus,
.radio-txt-input:focus {
    border-style: solid;
    border-width: 1px;
    border-color: #026BC8;
    box-shadow: none;
    color: #151618;
}

.text-input-field::-webkit-input-placeholder,
.proxy .pi-date-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5B5E65;
    font-weight: normal;
}
.text-input-field:-moz-placeholder,
.proxy .pi-date-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #5B5E65;
    font-weight: normal;
    opacity:  1;
}
.text-input-field::-moz-placeholder,
.proxy .pi-date-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #5B5E65;
    font-weight: normal;
    opacity:  1;
}
.text-input-field:-ms-input-placeholder,
.proxy .pi-date-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5B5E65;
    font-weight: normal;
}

.proxy .input-colors + span {
    color: #5B5E65;
}

.proxy .input-colors + span:hover,
.input-colors.input-error + span:hover {
    color: #5B5E65;
}

.proxy .input-colors:focus + span {
    color: #5B5E65;
}

.text-link {
    color: #026BC8;
}

.text-link:hover, .text-link:focus {
    color: #065AA5;
    text-decoration: none;
}

.text-link:active {
    color: #0A4982;
    text-decoration: none;
}

/* Course Schedule - BEGIN */
#calendar {
    margin-top: 1.5em;
}

#calendar table {
    background: transparent;
    border-color: #c0ced0;;
    border-style: none;
}

#calendar .fc-agendaWeek-view > table {
    border-top-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
}

#calendar table tr:hover {
    background: transparent !important;
}

.fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: row-reverse;
}

.fc-toolbar.fc-header-toolbar .fc-right {
    flex: 0 0 auto;
}

.fc-toolbar.fc-header-toolbar .fc-center {
    align-self: center;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

#calendar h2 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 0.7em;
    flex: 0.7 0 1.5em;
}

.gotodate-block {
    display: flex;
    align-items: center;
    padding-right: 1.5em;
    padding-top: 1em;
}

.fc-header-toolbar label {
    flex: 1 0 auto;
    margin-right: 0.875em;
}

.fc-header-toolbar input.hasMultiCalendarPicker.pi-date-input {
    margin-right: 0;
}

.fc-header-toolbar input.hasMultiCalendarPicker.pi-date-input + span.calendar-img {
    right: 2.5em;
}

.proxy .fc-unthemed td.fc-today {
    background: #F6F6F6;
    border-bottom: none;
}

.fc-unthemed td.fc-widget-content:first-child {
    border-left-style: none;
}

.fc-unthemed td.fc-widget-content:last-child {
    border-right-style: none;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody,
.fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content,
.fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #c0ced0;;
}

.proxy .fc-row.fc-widget-header {
    border-right-width: 0px !important;
}

.proxy .fc-ltr .fc-axis {
    padding-left: 0px;
}

#calendar table > tbody > tr > td:first-child {
    padding-left: 0px;
    border-top-style: none;
}

#calendar table > tbody.fc-body > tr > td.fc-widget-content:first-child {
    padding-left: 1em;
}

.proxy .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: none;
}

.proxy .fc th, .proxy .fc td {
    border-top-style: none;
}

.proxy .fc th, .proxy .fc .fc-head td {
    border-style: none;
}

.proxy .fc-time-grid .fc-slats td {
    border-top-style: solid;
}

.proxy .fc-unthemed th {
    border-style: none;
    border-bottom-style: solid;
    padding-top: 2em;
    padding-bottom: 2em;
    font: 11px opensans-semibold;
    text-transform: uppercase;
}

.proxy .fc-unthemed th:first-child {
    border-bottom-style: solid;
}

.fc-axis.fc-time.fc-widget-content {
    text-transform: uppercase;
    font: 11px opensans-semibold;
    border-style: none;
}

.fc-toolbar.fc-footer-toolbar {
    margin-top: 0em;
    padding: 1em 1.5em 1em 0;
    border-top: 1px solid #c0ced0;
}

.fc-button.secondary {
    background-color: #FFFFFF;
    border: 1px solid #026BC8;
    color: #026BC8;
    border-radius: 4px;
    font-family: Open Sans !important;

    background-image: none; 
}

.fc-button.secondary:hover:not([disabled]) {
    background-color: #065AA5;
    color: #FFFFFF;
}

.fc-button.secondary:focus:not([disabled]) {
    border: 1px solid #81C8FF;
    -ms-user-select: none;
    background-color: #026BC8;
    color: #FFFFFF;
    outline: none;
}

.fc-button.secondary:disabled {
    background-color: #B2B3B7;
    color: #FFFFFF;
    border: none;
}

.fc-button.secondary:active:not([disabled]) {
    background-color: #0A4982;
    border: none;
}

.proxy .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}

.proxy-event {
    border-left-width: 3px;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-radius: 0;
    padding: 0.625em 0.5em 0;
}

.proxy-event a {
    color: #428bca;
}

.unassigned {
    margin-top: 1.5em;
}

.unassigned > h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 1.5em;
    margin: 0;
}

.unassigned-meeting {
    border-top: 1px solid #c0ced0;
    padding: 1.5em;
}
/* Course Schedule - END */

/* Accessibility */
.audible-message {
    position: absolute;
    top:0;
    left: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: transparent;
}
.audible-message-hidden {
    display: none;
    visibility: hidden;
}
.audible-message-visible {
    display: block;
    visibility: visible;
}

/* Breadcrumbs */
a.breadcrumbButton.leaf-breadcrumb {
    text-decoration: none;
    cursor: default;
}


#proxyIcon {
    float: left;
    margin-right:2%;
}

/***********************/
/* Media Query Section */
/***********************/

@media screen and (min-width:768px) {
    .mobile-visible {
        visibility: hidden;
    }

    .desktop-visible {
        visibility: visible;
    }

    .proxy-page-body {
        padding: 22px 32px 100px;
    }

    /* Action Password Page - BEGIN */
    .actionPW.splashBg {
        margin: 18% 10%;
        padding: 3em;
        height: unset;
    }

    .actionPW.splashBg .appName {
        font-size: 1.8em;
        padding-top: 1em;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    
    .actionPW.splashBg .ellucianName {
        height: 1.8em;
        width: 9em;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1.5em;
        order: 3;
        flex: 0 1 auto;
    }

    .actionPW.splashBg .loginMsg {
        padding: 0;
        font-size: 1.2em;
        order: 1;
        flex: 1 0 100%;
        padding-left: 8.8em;
        box-sizing: border-box;
    }

    .actionPW.splashBg form {
        order: 2;
        flex: 1 0 70%;
    }

    .eds-text-field.action-input {
        width: 60%;
        margin: 1em 0.5em 1em 0;
        font-size: 1em !important;
    }

    .primary.submit-btn {
        width: 33%;
        margin: 1em 0 1em 0.5em;
        font-size: 1em;
    }

    .actionPW-text {
        font-size: 12px;
        order: 4;
        padding-left: 12.3em;
    }

    .splashBg .subsection-divider {
        display: none;
    }

    .actionPW.splashBg .copyright {
        margin: 0;
    }

    .splashBg .copyright > p {
        margin-bottom: 0;
    }
    /* Action Password Page - END   */

    h1.proxy-page-heading {
        font-family: OpenSans-semibold;
        font-size: 18px;
        color: #151618;
        background: #f7f7f7;
        padding: 0 20px 20px 0;
        margin: auto;
        display: block;
    }

    #awardHistoryTable>tbody>tr:last-child { font-family: OpenSans-semibold; }
    #awardHistoryResourcesTable>tbody>tr:last-child { font-family: OpenSans-semibold; }

    h1.proxy-page-heading.left {
        float: left;
    }

    h1.proxy-page-heading.awardHistory {
        float: right;
    }

    h1.proxy-page-heading.pi {
        padding-top: 20px;
        padding-left: 20px;
    }

    .proxy-page-student-name {
        float: right;
        padding: 0 0 20px 0;
        text-align: left;
    }

    .proxy-pi-top-link {
        float: right;
        padding: 20px 100px 0 0;
        text-align: left;
    }

    .proxy-top-message-container {
        margin-bottom: 10px;
    }

    .proxy-profile-form {
        padding: 0px 100px;
    }

    .pi-section {
        padding: 47px;
        padding-top: 21px;
    }

    .proxy-section-heading {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .proxy-section-heading.pi {
        padding-top: 22px;
    }

    .proxy-bottom-buttons {
        margin: 0 auto;
        padding-top: 54px;
        width: 540px;
    }

    .proxy-pi-bottom-spacer {
        padding: 8px;
    }

    .proxy-bottom-buttons input {
        width: 260px;
    }

    .proxy-bottom-buttons input.left {
        margin-right: 10px;
    }

    .select2-container {
        width: 345px;
    }
}

@media screen and (min-width:1024px) {
    .proxy .gen-home-heading,
    .proxy .gen-home-content {
        width: 425px;
        top:0px;
    }

    .gen-home-content.single-tile {
        width: 410px;
    }

    .gen-app-tile {
        width: 410px;
    }

    /* Action Password Page - BEGIN */
    .actionPW.splashBg {
        height: 360px;
        width: 705px;
        margin: 140px auto 0px;
    }

    .primary.submit-btn {
        width: 36%;
    }

    .actionPW.splashBg .copyright {
        position: absolute;
        bottom: 0;
        margin-bottom: 2em;
        margin-right: 3em;
    }
    /* Action Password Page - END   */
}

/*Tablet device*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .proxy-page-body {
        padding: 20px 20px 100px;
    }

    .proxy-top-message-container {
        margin-top: 4px;
    }

    .proxy-profile-form {
        padding: 0px 18px;
    }

    .proxy-pi-top-link {
        padding-right: 20px;
    }

    .pi-section {
        padding: 21px 14px 47px 22px;
    }

    table.proxy-content-section {
        max-width: unset;
    }

    .proxy-pi-right-message {
        padding-right: 10px;
    }

    .proxy-pi-bottom-spacer {
        padding: 8px;
    }

    .proxy-bottom-buttons {
        padding-top: 54px;
    }
}
