/********************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
********************************************************************************/
/* General Styles */
body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

svg.hide-svg {
    height: 0;
}

.gen-home-main-view {
    background: #F8F8F8;
}

h2 {
    font-size: 24px;
}

.gen-home-heading,
.gen-home-content {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.gen-home-heading {
    top: 25px;
}

.gen-home-heading-spacer {
    display: none;
}

.gen-home-content {
    top: 220px;
    height: 500px;
}

.gen-home-heading .title {
    font-size: 28px;
    color: #888D91;
    padding-bottom: 25px;
}

.gen-home-heading .greeting-wrapper {
    clear: both;
    padding-top: 15px;
}

.gen-home-heading .avatar {
    width: 66px;
    height: 80px;
    margin-right: 25px;
    float: left;
}

.gen-home-heading .avatar svg {
    width: 66px;
    height: 80px;
}

.gen-home-heading .avatar-spacer {
    display: none;
}

.gen-home-heading .greeting {
    font-size: 16px;
    color: #888D91;
    margin-top: 10px;
}

.gen-home-heading .greeting .landingDesc {
    height: 55px;
    overflow-y: auto;
}

.gen-home-title-divider {
    width: 30px;
    height: 2px;
}

.gen-home-title-divider span {
    border-bottom: 2px solid #989DA2;
    width: 100%;
    float: left;
    margin-top: 1.0em;
    margin-bottom: 0.675em;
}

.gen-app-tile {
    float: left;
    margin-right: 15px;
    padding: 15px 15px 0;
    text-align: center;
    border: none;
    border-bottom: 4px solid #ddd;
    overflow: hidden;
    background: white;
    cursor: pointer;
}

.tile-icon {
    float: left;
    width: 25%;
}

.gen-app-tile img {
    margin: -10px 0 0 -10px;
}

.tile-content {
    float: left;
    width: 75%;
}

.tile-title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.tile-desc {
    text-align: left;
    font-size: 14px;
}

.actionpassword {
    clear: both;
    font-size: 0.50em;
    color: #FFF;
    text-align: left;
}

.required-field::before {
    content: "*";
    color: red;
}

.required:after { content:" *"; }

.red-star {
    color: red;
    float: right;
}

table.dataentrytable {
    border-spacing: 0px;
    width:80%;
}

.proxy-profile-form {
    padding: 0px 100px;
}

.proxy-profile-form input.hasMultiCalendarPicker.pi-date-input + span.calendar-img {
    left: 12em;
}

ul{
    margin:0;
    padding:0 20px;
}

#calendar {
    padding: 50px;
}

.right {
    text-align: right;
    margin-right: 1em;
}


#awards {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#awards td, #awards th {
    border: 1px solid #ddd;
    padding: 8px;
}

#awards tr:nth-child(even){background-color: #f2f2f2;}

#awards tr:hover {background-color: #ddd;}

#awards th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#content.proxy {
    font-family: OpenSans-regular;
    font-size: 14px;
    background: #eff4f8;
}

h1.proxy-page-heading {
    font-family: OpenSans-semibold;
    font-size: 18px;
    color: #151618;
    background: #f7f7f7;
    padding: 20px;
    margin: auto;
}

h1.proxy-page-heading.pi {
    float: left;
}

h1.proxy-landing-page-heading {
    font-family: OpenSans-semibold;
    font-size: 18px;
    color: #151618;
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid #dddddd;
}

.proxy-page-body {
    padding: 0;
}

.mobile-visible {
    visibility: visible;
}

.desktop-visible {
    visibility: hidden;
}

.notification-msg {
    font-family: OpenSans-semibold;
}

p.notification-msg {
    margin-bottom: 20px;
}

.holds-msg-container {
    font-family: OpenSans-semibold;
    background: #ffffff;
    padding: 15px;
}

.hold-item {
    background: #ffffff;
    margin-top: 10px;
    padding: 15px;
}

.hold-item-label {
    font-family: OpenSans-semibold;
}

.subsection-divider {
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.subsection-divider span {
    border-bottom: 1px solid #BEC5CB;
    width: 100%;
    float: left;
    margin-top: 1.0em;
    margin-bottom: 0.675em;
}

.subsection-divider-spacer {
    height: 25px;
}

.gpa-summary-header {
    background: #ffffff;
    font-family: OpenSans-semibold;
    font-size: 18px;
    padding: 20px;
}

.grades-list {
    margin-top: 20px;
}

.grades-header th,
table tr.grades-header th:last-child,
table tr.grades-header:hover th:last-child {
    background: #f7f7f7;
}

.proxy .fc-event:hover {
    color: #0c4e8c;
}

.proxy-top-message-container {
    padding: 22px 32px;
    margin: 10px 0 10px;
    background: #eff7ff;
    border-top: 2px solid #51abff;

}

.proxy-notification-icon {
    font-size: 24px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
}

.proxy-notification-icon [class^="icon-"] {
    font-weight: bold;
}

.proxy-notification-icon.blue {
    color: #428bca;
}

.proxy-notification-text {
    display: table-cell;
    vertical-align: middle;
}

.proxy-top-message {
    font-family: OpenSans-semibold;
    font-size: 16px;
    color: #428bca;
}

.proxy-pi-top-link {
    float: right;
    font-family: OpenSans-semibold;
    padding: 20px 100px 0 0;
}

.proxy-pi-left-message {
    float: left;
}

.proxy-pi-right-message {
    float: right;
}

.pi-section {
    background: #FFFFFF;
    margin: 10px 0px;
    padding: 49px;
    padding-top: 29px;
    border: 1px solid #beccd7;
    border-top: none;
}

#opt-out-adv-date-txt {
    padding-top: 30px;
}

.proxy-bottom-buttons {
    margin: 0 auto;
    padding: 50px 0 100px;
    width: 540px;
}

.proxy-bottom-buttons input {
    width: 260px;
    height: 44px;
}

.proxy-bottom-buttons input.left {
    margin-right: 10px;
}

/* Action Password Page - BEGIN */
.actionPW.pageBg {
    overflow: auto;
}

.actionPW.splashBg {
    height: 90%;
    width: unset;
    /*position: relative;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0px #CECECE;*/
    top: unset;
    margin: 2em;
    padding: 1em;
    left: unset;
}

.actionPW.splashBg .ellucianName {
    position: unset;
    left: unset;
    top: unset;
    height: 2.5em;
    width: 12em;
    /*background-image: url(../images/ellucian_logo.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
}

.actionPW.splashBg .appName {
    /*color: #026BC8;
    font-size: 24px;
    font-weight: bold;
    padding-top: 4px;
    text-align: right;*/
    font-size: 2em;
    padding-bottom: 1em;
    position: unset;
    top: unset;
    right: unset;
}

.actionPW.splashBg .loginMsg {
    top: unset;
    right: unset;
    position: relative;
    font-weight: bold;
    text-align: left;
    padding: 1em 0;
    font-size: 1.5em;
}

.actionPw-form
{
}

.eds-text-field.action-input {
    width: 100%;
    margin: 1em 0;
    font-size: 1.2em !important;
}

.primary.submit-btn {
    width: 100%;
    margin: 0.5em 0;
    padding: 1em 1.5em;
    font-size: 1.2em;
}

.actionPW.splashBg .copyright {
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    margin: 1em 0;
    padding: 1em 0;
    position: relative;
}
/* Action Password Page - END   */


/* Accessibility */
.audible-message {
    position: absolute;
    top:0;
    left: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: transparent;
}
.audible-message-hidden {
    display: none;
    visibility: hidden;
}
.audible-message-visible {
    display: block;
    visibility: visible;
}

/* Breadcrumbs */
a.breadcrumbButton.leaf-breadcrumb {
    text-decoration: none;
    cursor: default;
}


#proxyIcon {
    float: left;
    margin-right:2%;
}

/***********************/
/* Media Query Section */
/***********************/

@media screen and (min-width:768px) {
    .mobile-visible {
        visibility: hidden;
    }

    .desktop-visible {
        visibility: visible;
    }

    .proxy-page-body {
        padding: 32px 32px 0;
    }

    /* Action Password Page - BEGIN */
    .actionPW.splashBg {

    }

    .actionPW.splashBg .ellucianName {

    }

    .actionPW.splashBg .appName {

    }

    .actionPW.splashBg .loginMsg {

    }

    .actionPw-form
    {
    }

    .eds-text-field.action-input {

    }

    .primary.submit-btn {

    }

    .actionPW.splashBg .copyright {

    }
    /* Action Password Page - END   */
}

@media screen and (min-width:1024px) {
   .proxy .gen-home-heading,
   .proxy .gen-home-content {
        width: 425px;
        top:0px;
    }

    .gen-home-content.single-tile {
        width: 410px;
    }

    .gen-app-tile {
        width: 410px;
    }
}
