/********************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
********************************************************************************/
#calendar table > tbody.fc-body > tr > td.fc-widget-content:first-child {
    padding-right: 0;
}

.proxy .fc-time-grid .fc-slats td {
    border-top-style: none;
}

#calendar table > tbody > tr:nth-child(4n-3) > td:first-child {
    border-top-style: solid;
}

.right {
    text-align: right;
}

.proxy-pin-mgmt.reset-pin.splashBg {
    direction: rtl;
}

@media screen and (min-width:768px) {
    .flex-wrapper {
        flex-direction: row;
    }

    .proxy-pin-mgmt.splashBg .loginMsg {
        margin: 0;
    }

    .actionPw-form {
        direction: rtl;
    }

    .actionPW-text {
        text-align: right;
    }
}
