<!--
  ~ /*******************************************************************************
  ~  Copyright 2019 Ellucian Company L.P. and its affiliates.
  ~  *******************************************************************************/
  -->
<div class="pi-section" ng-repeat="piSection in personalInfoSections">
    <h2 class="term-header" role="heading">
        <a ng-click="sectionCollapsed[$index] = !sectionCollapsed[$index]" aria-expanded="{{!sectionCollapsed[$index]}}"
           href="" data-toggle="collapse" data-target="#proxyPersonalInfoSection{{$index}}" class="panel-title collapsed" title="{{piSection.heading}}">
            {{piSection.heading}}
            <span class="icon-collapseArrow"></span>
        </a>
    </h2>
    <div class="collapse row proxy-pi-section-padding" id="proxyPersonalInfoSection{{$index}}" aria-label="{{piSection.heading}}">
            <span class="proxy-pi-right-message required-field">
                 {{'proxy.label.indicatesRequiredField'|i18n}}
             </span>
        <br>
        <div class="col-xs-12 col-md-4 col-lg-4" ng-repeat="profileElement in piSection.elements" ng-if="profileElement.visible">
            <div ng-if="profileElement.visible && !profileElement.isWidget">
                <label class="proxy-personal-info-field-label-mobile" for="{{profileElement.elemId}}" ng-bind-html="profileElement.label"></label><br>
                <input ng-model="profileElement.model" ng-blur="cityFocused=false" ng-focus="cityFocused=true"
                       ng-class="[((!!cityErrMsg && profileElement.elemId === 'p_city') || (!!emailErrMsg && profileElement.elemId === 'p_email_address') && !cityFocused ? 'input-field-error' : null)]"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{profileElement.placeholder}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}"
                       id="{{profileElement.elemId}}">
                <p ng-if="profileElement.elemId === 'p_city'" class="input-field-label mobile-errors" ng-class="[(!!cityErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{cityErrMsg|i18n}}</p>
                <p ng-if="profileElement.elemId === 'p_email_address'" class="input-field-label mobile-errors" ng-class="[(!!emailErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{emailErrMsg|i18n}}</p>
            </div>
            <ng-include src="'proxyApp/proxyPersonalInfo/proxyPersonalInformationSections/proxyPersonalInformationProfileElementDropdown.html'|webAppResourcePath"></ng-include>
            <ng-include src="'proxyApp/proxyPersonalInfo/proxyPersonalInformationSections/proxyPersonalInformationBirthDateSection.html'|webAppResourcePath"></ng-include>
            <ng-include src="'proxyApp/proxyPersonalInfo/proxyPersonalInformationSections/proxyPersonalInformationGenderSection.html'|webAppResourcePath"></ng-include>
        </div>
    </div>
</div>
