<!--*******************************************************************************
  Copyright 2019 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-mgmt-home-content">
    <div class="proxy-mgmt-main-container">
        <div ng-if="isCreateNew">
            <div class="proxy-info-main-heading">
                <span class="bold">{{'proxyManagement.title.proxyInformation'|i18n}}</span>
                <img src="../assets/icons/info.png" title="{{'proxyManagement.message.addProxyUsingForm'|i18n}}" alt="{{'proxyManagement.message.addProxyUsingForm'|i18n}}" />
            </div>

            <div class="proxy-info-subheading page-top">
                <span class="bold">{{'proxyManagement.title.profile'|i18n}}</span>
                <span class="italic">{{'proxyManagement.label.hint.required'|i18n}}</span>
            </div>

            <div ng-if="addProxiesList.length > 0" class="row">
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <label class="input-field-label" for="authorization">{{'proxyManagement.label.authorization'|i18n}}</label><br>
                    <xe-ui-select ng-model="proxyAuxData.addProxy" theme="select2" search-enabled="false" ng-change="handleAddListChange()" id="authorization">
                        <xe-ui-select-match ng-init="setupSelectCtrlFocusser($select, 'proxyManagement.label.authorization'|i18n)" placeholder="{{placeholder.clonedLList}}">
                            {{$select.selected.description ? $select.selected.description : placeholder.clonedLList}}
                        </xe-ui-select-match>
                        <xe-ui-select-choices repeat="choice in addProxiesList">
                            <div ng-bind-html="choice.description"></div>
                        </xe-ui-select-choices>
                    </xe-ui-select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <label class="input-field-label" for="first-name">{{'proxy.personalinformation.label.p_first_name'|i18n}}</label><br>
                    <input ng-model="proxy.p_first" ng-blur="firstNameFocused=false; removeProxyProfileFieldErrors()" ng-focus="firstNameFocused=true"
                           ng-class="[(!!firstNameErrMsg && !firstNameFocused ? 'input-field-error' : null)]" class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                           type="text" placeholder="{{placeholder.first_name}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="first-name">
                    <p class="input-field-label mobile-errors" ng-class="[(!!firstNameErrMsg ? 'field-error error-font-size' : 'no-display')]"
                       role="alert" aria-live="assertive">{{firstNameErrMsg|i18n}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <label class="input-field-label" for="last-name">{{'proxy.personalinformation.label.p_last_name'|i18n}}</label><br>
                    <input ng-model="proxy.p_last" ng-blur="lastNameFocused=false; removeProxyProfileFieldErrors()" ng-focus="lastNameFocused=true"
                           ng-class="[(!!lastNameErrMsg && !lastNameFocused ? 'input-field-error' : null)]" class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                           type="text" placeholder="{{placeholder.last_name}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="last-name">
                    <p class="input-field-label mobile-errors" ng-class="[(!!lastNameErrMsg ? 'field-error error-font-size' : 'no-display')]"
                       role="alert" aria-live="assertive">{{lastNameErrMsg|i18n}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <label class="input-field-label" for="email">{{'proxyManagement.label.email'|i18n}}</label><br>
                    <input ng-model="proxy.p_email" ng-blur="emailFocused=false; removeProxyProfileFieldErrors()" ng-focus="emailFocused=true"
                           ng-class="[(!!emailErrMsg && !emailFocused ? 'input-field-error' : null)]" class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                           type="text" placeholder="{{placeholder.email}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="email">
                    <p class="input-field-label mobile-errors" ng-class="[(!!emailErrMsg ? 'field-error error-font-size' : 'no-display')]"
                       role="alert" aria-live="assertive">{{emailErrMsg|i18n}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <label class="input-field-label" for="verify-email">{{'proxyManagement.label.verifyEmail'|i18n}}</label><br>
                    <input ng-model="proxy.p_email_verify" ng-blur="verifyEmailFocused=false; removeProxyProfileFieldErrors()" ng-focus="verifyEmailFocused=true"
                           ng-class="[(!!verifyEmailErrMsg && !verifyEmailFocused ? 'input-field-error' : null)]" class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                           type="text" placeholder="{{placeholder.verify_email}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="verify-email">
                    <p class="input-field-label mobile-errors" ng-class="[(!!verifyEmailErrMsg ? 'field-error error-font-size' : 'no-display')]"
                       role="alert" aria-live="assertive">{{verifyEmailErrMsg|i18n}}</p>
                </div>
            </div>
        </div>
        <div ng-if="!isCreateNew">
            <div class="clearfix">
                <div class="proxy-base-info-summary">
                    <span>{{proxyAuxData.firstName}}</span> <span>{{proxyAuxData.lastName}}</span> ({{proxyAuxData.email}})
                </div>
                <div class="proxy-mgmt-reset-pw" ng-if="enableResetPin">
                    <a ng-click="resetPassword()" class="add-item-link" tabindex="0">
                        <span class="icon-refresh-CO"></span> <span>{{'proxyManagement.label.reset.password'|i18n}}</span>
                    </a>
                </div>
            </div>
            <div class="proxy-info-main-heading">
                <h2>{{'proxyManagement.title.proxyInformation'|i18n}}</h2>
            </div>
        </div>
        <xe-tab-nav ng-if="!isCreateNew">
            <xe-tab-panel heading="{{'proxyManagement.title.proxyInformation'|i18n}}" state="editProxy">
                <ng-include src="'../assets/proxyManagementApp/proxyManagementEditProxy/proxyMgmtCommonEditInputs.html'"></ng-include>
                &shy;<!-- THIS NON-VISIBLE CHARACTER NEEDED TO FORCE XE-TAB-PANEL DIRECTIVE TO TAKE THE NG-INCLUDE -->
            </xe-tab-panel>
            <xe-tab-panel heading="{{'proxyManagement.title.communication'|i18n}}" state="editProxy" ng-if="enableTabCommunication">
                <ng-include src="'../assets/proxyManagementApp/proxyManagementEditProxy/proxyMgmtCommunication.html'"></ng-include>
                &shy;<!-- THIS NON-VISIBLE CHARACTER NEEDED TO FORCE XE-TAB-PANEL DIRECTIVE TO TAKE THE NG-INCLUDE -->
            </xe-tab-panel>
        </xe-tab-nav>
        <ng-include ng-if="isCreateNew" src="'../assets/proxyManagementApp/proxyManagementEditProxy/proxyMgmtCommonEditInputs.html'"></ng-include>
        <div id="proxyProfileErrorMsgCenter" class="visuallyhidden" tabindex="-1">
            <span>{{firstNameErrMsg|i18n}}</span>
            <span>{{lastNameErrMsg|i18n}}</span>
            <span>{{emailErrMsg|i18n}}</span>
            <span>{{verifyEmailErrMsg|i18n}}</span>
            <span>{{relationshipErrMsg|i18n}}</span>
            <span>{{authorizationsErrMsg|i18n}}</span>
        </div>
    </div>
</div>
