<!--*******************************************************************************
  Copyright 2019 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-mgmt-home-content">
    <div class="proxy-mgmt-main-container">
        <div class="proxy-info-main-heading">
            <h2>{{'proxy.management.title.proxyInformation'|i18n}}</h2>
        </div>
        <div class="proxy-info-subheading page-top">
            <span class="bold">{{'proxy.management.title.profile'|i18n}}</span>
            <span class="italic">{{'proxy.management.label.hint.required'|i18n}}</span>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="first-name">{{'proxy.personalinformation.label.p_first_name'|i18n}}</label><br>
                <input ng-model="proxy.p_first"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{placeholder.first_name}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="first-name">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="last-name">{{'proxy.personalinformation.label.p_last_name'|i18n}}</label><br>
                <input ng-model="proxy.p_last"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{placeholder.last_name}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="last-name">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="email">{{'proxy.management.label.email'|i18n}}</label><br>
                <input ng-model="proxy.p_email"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{placeholder.email}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="verify-email">{{'proxy.management.label.verifyEmail'|i18n}}</label><br>
                <input ng-model="proxy.p_email_verify"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{placeholder.verify_email}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="verify-email">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="relationship">{{'proxy.management.label.relationship'|i18n}}</label><br>
                <xe-ui-select ng-model="proxy.p_retp_code" theme="select2" search-enabled="false" id="relationship">
                    <xe-ui-select-match ng-init="setupSelectCtrlFocusser($select, 'proxy.management.label.relationship'|i18n)" placeholder="{{placeholder.relationship}}">
                        {{$select.selected.description ? $select.selected.description : placeholder.relationship}}
                    </xe-ui-select-match>
                    <xe-ui-select-choices repeat="choice in relationshipChoices">
                        <div ng-bind-html="choice.description"></div>
                    </xe-ui-select-choices>
                </xe-ui-select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <label for="start-date" class="input-field-label">{{'proxy.management.label.startDate'|i18n}}</label>
                <input date-picker ng-model="proxy.p_start_date" pi-input-watcher on-select="setStartDate"
                       class="pi-date-input input-colors" placeholder="{{'proxy.management.label.startDate'|i18n}}" id="start-date"
                       aria-label="{{'proxy.management.label.startDate'|i18n}}"/>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <label for="stop-date" class="input-field-label">{{'proxy.management.label.stopDate'|i18n}}</label>
                <input date-picker ng-model="proxy.p_stop_date" pi-input-watcher on-select="setStopDate"
                       class="pi-date-input input-colors" placeholder="{{'proxy.management.label.stopDate'|i18n}}" id="stop-date"
                       aria-label="{{'proxy.management.label.stopDate'|i18n}}"/>
            </div>
        </div>
        <div class="proxy-info-subheading">
            <span class="bold">{{'proxy.management.title.additionalInformation'|i18n}}</span>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="desc">{{'proxy.management.label.description'|i18n}}</label><br>
                <input ng-model="proxy.p_desc"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{placeholder.desc}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="desc">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <label class="input-field-label" for="passphrase">{{'proxy.management.label.passphrase'|i18n}}</label><br>
                <input ng-model="proxy.p_passphrase"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{placeholder.passphrase}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="passphrase">
            </div>
        </div>
        <div class="proxy-info-subheading">
            <span class="bold">{{'proxy.management.title.authorizations'|i18n}}</span>
            <span class="italic">{{'proxy.management.label.hint.required'|i18n}}</span>
        </div>
    </div>

    <div class="proxy-bottom-buttons">
        <div class="proxy-desktop-visible">
            <input ng-if="!profileRequired" ng-click="cancel()" type="button" value="{{'proxy.label.cancel'|i18n}}" class="secondary left">
            <input ng-class="profileRequired ? 'only-submit' : null" ng-click="save()" type="button" value="{{'proxy.label.submit'|i18n}}" class="primary">
        </div>
    </div>
</div>
