<!--*******************************************************************************
  Copyright 2019-2021 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="clearfix">
    <h1 class="proxy-page-heading pi left">{{'proxy.profile.heading'|i18n}}</h1>
    <div class="proxy-pi-top-link">
        <a ng-href="{{applicationContextRoot}}/login/resetPassword?username={{guestUserName}}">{{'proxy.personalinformation.clickToChangePassword'|i18n}}</a>
    </div>
</div>
<div class="proxy-profile-form">
    <div class="proxy-top-message-container pi">
        <div class="proxy-notification-icon blue">
            <span class="icon-info-CO"></span>
        </div>
        <div class="proxy-top-message proxy-notification-text">
            {{'proxy.personalinformation.topMessage'|i18n}}
        </div>
    </div>
    <div>
        <div class="proxy-mobile-visible">
            <ng-include src="'proxyApp/proxyPersonalInfo/proxyPersonalInformationSections/proxyPersonalInformationSectionsMobile.html'|webAppResourcePath"></ng-include>
        </div>
        <div class="proxy-desktop-visible proxy-tablet-visible proxy-pi-section-overflow">
            <ng-include src="'proxyApp/proxyPersonalInfo/proxyPersonalInformationSections/proxyPersonalInformationSectionsDesktop.html'|webAppResourcePath"></ng-include>
        </div>
    </div>
    <div class="proxy-pi-bottom-spacer"></div>
    <div ng-if="optOutAdvDate && optOutAdvDate.visible">
        <input ng-model="optOutAdvDate.model" class="main-nav-check" id="opt_out_adv_date" type="checkbox" aria-describedby="opt-out-adv-date-txt"/>
        <p class="lbl" id="opt-out-adv-date-txt"><label for="opt_out_adv_date">{{'proxy.personalinformation.label.p_opt_out_adv_date'|i18n}}</label></p>
    </div>
    <div ng-if = "personalInfoSections.length > 0" class="proxy-bottom-buttons">
        <div class="proxy-mobile-visible">
            <button ng-if="!profileRequired" ng-click="cancel()" class="secondary left">{{'proxy.label.cancel'|i18n}}</button>
            <button ng-click="save()" class="primary">{{'proxy.label.submit'|i18n}}</button>
        </div>
        <div class="proxy-tablet-visible">
            <button ng-if="!profileRequired" ng-click="cancel()" class="secondary left">{{'proxy.label.cancel'|i18n}}</button>
            <button ng-class="profileRequired ? 'only-submit' : null" ng-click="save()" class="primary">{{'proxy.label.submit'|i18n}}</button>
        </div>
        <div class="proxy-desktop-visible">
            <button ng-if="!profileRequired" ng-click="cancel()" class="secondary left">{{'proxy.label.cancel'|i18n}}</button>
            <button ng-class="profileRequired ? 'only-submit' : null" ng-click="save()" class="primary">{{'proxy.label.submit'|i18n}}</button>
        </div>
    </div>
</div>

