.button-block {
    float: right;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .xe-tab-container .xe-tab-nav>li {
        max-width: 100% !important;
    }

    #start-date-wrapper, #stop-date-wrapper{
        max-width: 50%;
    }
}