/********************************************************************************
  Copyright 2016-2019 Ellucian Company L.P. and its affiliates.
********************************************************************************/
/* General Styles */
body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}

h2 {
    font-size: 24px;
}

p, li {
    color: #4F585F;
}

svg.hide-svg {
    height: 0;
}

.break-word {
    word-wrap: break-word;
}

.force-break-word {
    word-wrap: break-word !important;
    white-space: normal !important;
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.no-margin {
    margin: 0 !important;
}


#content {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    min-height: initial !important;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#signOut {
    background-color: #FFFFFF;
}

/* Remove breadcrumb panel bottom border where it clashes with elements below it */
.employee.desktop #breadcrumb-panel,
.student.desktop.no-ap #breadcrumb-panel{
    border-bottom: none;
}

a.breadcrumbButton.leaf-breadcrumb {
    text-decoration: none;
    cursor: default;
}

#title-panel {
    display: none;
    height: 0;
    min-height: 0;
}

/* EDS colors */
.gssb-eds-text-field {
    border: 1px solid #B2B3B7;
    background-color: #FFFFFF;
}

.gssb-eds-text-field:focus:not([valid]) {
    border: 1px solid #026BC8;
    color: #151618;
    outline: none;
}

.gssb-eds-text-field-readonly {
    background-color: #F7F7F7;
    border: 1px solid #151618;
    color: #5B5E65;
    opacity: 100%;
}

.gssb-eds-text-field:disabled,
.gssb-eds-text-field-disabled {
    border: 1px solid #5B5E65;
    color: #5B5E65;
    background-color: #F7F7F7;
}

.gssb-eds-text-field.dropdown-btn:hover {
    border: 1px solid #026BC8;
}

input.gssb-eds-text-field.ng-not-empty,
input.input-colors.ng-not-empty,
textarea.gssb-eds-text-field.ng-not-empty,
button.dropdown-btn.ng-not-empty {
    border-color: #151618;
    color: #151618;
}

.input-colors + span {
    color: #5B5E65;
}

.input-colors.ng-not-empty + span {
    color: #151618;
}

.input-colors + span:hover,
.input-colors.input-error + span:hover {
    color: #026BC8;
}

.input-colors:focus + span {
    color: #151618;
}

.input-colors + span:disabled {
    color: #5B5E65;
}

.input-colors.input-error + span {
    color: #151618;
}

.input-colors.input-error:focus + span {
    color: #206E9F;
}

.panel.panel-accordion {
    border-radius: 0;
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.panel-accordion .panel-heading {
    padding: 0;
    border-radius: 0;
    background-color: #f2f2f2;
}

.panel-accordion .panel-title {
    padding: 0;
    font-weight: bold;
}

.panel-accordion .panel-title > a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.panel-accordion .panel-title > a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: grey;
}

.panel-accordion .panel-heading > a.collapsed {
    background-color: #f2f2f2;
}

.panel-accordion .panel-title > a.collapsed:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-accordion .panel-body {
    background-color: #ffffff;
    position: relative;
}

.max-width-account {
    max-width: 180px;
}

.desktop-disclaimer {
    float: left;
}

.desktop-save {
    padding: 0.5em 0em 0.5em 1.75em;
    /* IE 10 flex */
    display: -ms-flexbox;
    -ms-flex: 0 1 auto;

    display: flex;
}

/* Webkit (e.g. iPhone) tweak to make text darker in a disabled input */
input:disabled {
    -webkit-opacity: 1;
    -webkit-text-fill-color:#5B5E65;
}

.audible-message {
    position: absolute;
    top:0;
    left: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: transparent;
}
.audible-message-hidden {
    display: none;
    visibility: hidden;
}
.audible-message-visible {
    display: block;
    visibility: visible;
}


/*****************************/
/* Add/Edit Item Page Styles */
/*****************************/
.float-l {
    float: left;
}

.float-r {
    float: right;
}

.no-padding {
    padding: 0px;
}

.pad-left {
    padding-left: 15px;
}

.pad-left-right {
    padding: 0px 15px;
}

.semi-bold {
    font-weight: bold;
}

.no-bold {
    font-weight: normal;
}

.no-display {
    display: none !important;
}

.clear-left {
    clear: left;
}

.clear-both {
    clear: both;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.disp-inherit {
    display: inherit;
}

.desktop-visible {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.pi-desktop-contents {
    padding: 0px 15px;
    background: #EFF4F8
}

.dd-notification-box {
    display: table;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.addr-list .dd-notification-box {
    padding: 0 15px;
}

.addtl-details-detail .dd-notification-box {
    margin-top: 10px;
    margin-bottom: 0;
}

.dd-notification-row {
    display: table-row;
}

.dd-notification-cell {
    display: table-cell;
}

.dd-notification-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fffeea;
}

.notification-icon {
    font-size: 20px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
}

.notification-text {
    display: table-cell;
    vertical-align: middle;
}

.pi-comment {
    color: #7E858B;
    padding-top: 0.25em;
}

.button-block {
    float: left;
    clear: both;
}

.proxy-edit-item-link {
    margin-right: 0.75em;
    float: left;
    padding-top: 0.25em;
}

a.proxy-icon-link,
a.proxy-icon-link:hover,
a.proxy-icon-link:focus {
    font-size: 24px;
    color: #026BC8;
    text-decoration: none;
    cursor: pointer;
}

.overview-wrapper {
    padding: 15px;
    text-align: center;
}

.overview-footer {
    width: 100%;
    background-color: #026BC8;
    position: fixed;
    bottom: 0;
    left: 0;
}

.mobile-footer-spacer {
    height: 50px;
}

.overview-footer a {
    color: #FFF;
    line-height: 49px;
}

.select2-container {
    margin-bottom: 1px;
}


/* Overrides for xe-ui-components.css/_select.scss */
.select2-results .select2-highlighted {
    background: #3875d7 !important;
}

.select2-dropdown-open .select2-choice {
    background-image: none !important;
}
/* END Overrides for xe-ui-components.css/_select.scss */

.select2-container {
    height: 48px;
    width: 100%;
    margin-bottom: 0px;
}

.ui-select-container .select2-choice {
    height: 100%;
}

.ui-select-container.ng-not-empty .select2-choice {
    border-color: #151618;
}

.ui-select-container .select2-choice > .select2-chosen {
    padding-top: 0.5em;
    display: inline-block;
}

.ui-select-container .select2-choice {
    margin-left: 0;
}

.ui-select-dropdown {
    margin-left: 0;
    width: 100%;
}

.add-address-title {
    display: inline;
}

.modal-flex-cont {
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-unflex {
    display: block;
}

.pi-modal-title {
    padding: 1.25em 0.875em 0.1em 1em;
    display: inline-block;
    margin: 0;
    max-width: 75%;
}

.edit-pers-details .pi-modal-title {
    padding-right: .2em;
}

.xe-tab-container {
    font-size: 14px;
}

.xe-tab-container .addr-list,
.xe-tab-container .phone-list,
.xe-tab-container .view-list,
.xe-tab-container .emergency-contact-list,
.xe-tab-container .other-links {
    padding: 15px 15px 0;
}

.add-item-footer {
    border-top: 1px solid black;
    min-width: 280px;
    text-align: center;
}

.details-section-edit > a.add-item-link {
    padding: 0px;
}

.details-section-edit > a.add-item-link > span.icon-add-CO,
.details-section-edit > a.add-item-link > span.icon-edit-CO {
    padding-left: 10px;
}

a.add-item-link {
    color: #026BC8;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.add-item-link span {
    vertical-align: middle;
}

.add-item-link [class^="icon-"] {
    font-size: 20px;
}

.add-item-link.disabled {
    cursor: not-allowed;
    color: #A0A3A4;
}

.pi-link {
    text-decoration: none;
    color: #026BC8;
    padding: 5px 0px;
    cursor: pointer;
}

.pi-link:hover, .pi-link:focus {
    text-decoration: none;
    color: #065AA5;
}

.pi-link:active {
    text-decoration: none;
    color: #0A4982;
}

.pi-overview-link,
.pi-overview-link:hover,
.pi-overview-link:focus {
    color: #026BC8;
    text-decoration: none;
}

.pi-overview-link > .email-text {
    color: #333;
}

.email-text {
    padding: 0px;
    word-wrap: break-word;
}

input.hasMultiCalendarPicker.pi-date-input + span.calendar-img{
    font-family: 'BannerIcon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 64%;
    -moz-osx-font-smoothing: grayscale;

    font-size: 18px;
    background: none;
    vertical-align: middle;
    height: auto;
    width: auto;
    padding: 1em;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.edit-veteran input.hasMultiCalendarPicker.pi-date-input + span.calendar-img {
    left: 11.5em;
    right: inherit;
}

input.hasMultiCalendarPicker.pi-date-input + span.calendar-img::before {
    content: "\e651";
}

input.hasMultiCalendarPicker.pi-date-input::-ms-clear {
    display: none;
}

#multiCalendarContainer {
    display: none;
}

.pi-modal-divider {
    overflow-x: hidden;
    width: 104.9%;
    margin-right: -1.5em;
    float: right;
}

.pi-modal-divider > div {
    width: 100%;
    height: 1px;
}

.pi-modal-divider > div > span {
    border-bottom: 1px solid #BEC5CB;
    width: 110%;
    float: left;
    margin-top: 1em;
    margin-bottom: 1px;
    margin-left: -1.5em;
}

.input-field-label {
    padding: 1em 0em 0.5em;
    margin: 0px;
    font-weight: bold;
    color: #283036;
}

.input-field-label.pi-emer-phone {
    padding-bottom: 0;
    padding-left: 15px;
}

.edit-flex-div {
    /* IE 10 flex */
    display: -ms-flexbox;

    display: flex;
}

.flex-end {
    /* IE 10 flex */
    display: -ms-flexbox;
    -ms-flex-align: end;

    display: flex;
    align-items: flex-end;
}

.unflex {
    display: inline-block;
    width: 100%;
}

.rout-num-lbl {
    max-width: 90%;
}

.field-error {
    color: #D42928;
}

.error-font-size {
    font-weight: normal;
}

.text-input-field {
    border-radius: 4px;
    width: 100%;
}

input.hasMultiCalendarPicker.pi-date-input {
    font-weight: bold;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 1em .75em;
    line-height: 136%;
    float: none;
}

.text-input-field::-webkit-input-placeholder,
.pi-date-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5B5E65;
    font-weight: bold;
}
.text-input-field:-moz-placeholder,
.pi-date-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #5B5E65;
    font-weight: bold;
    opacity:  1;
}
.text-input-field::-moz-placeholder,
.pi-date-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #5B5E65;
    font-weight: bold;
    opacity:  1;
}
.text-input-field:-ms-input-placeholder,
.pi-date-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5B5E65;
    font-weight: bold;
}

.dropdown .input-field-error,
.input-field-error, input.gssb-eds-text-field.input-field-error,
.radio-txt-input.input-field-error,
input.hasMultiCalendarPicker.pi-date-input.input-error {
    border:1px solid #FF3030;
}

.input-fail {
    position: absolute;
    float: right;
    right: 2.25em;
    top: 4.1em;
    background: #F6E5E6;
}

.input-fail.pi-phone-intl-err {
    position: relative;
    top: inherit;
    bottom: 2.3em;
    right: 1.2em;
}

.icon .icon-error {
    font-size: 16px;
}

.icon-error.ellucian-font,
.icon-caret-down.ellucian-font {
    font-family: ellucian;
}

.text-input-field:focus,
input.hasMultiCalendarPicker.pi-date-input:focus,
.radio-txt-input:focus {
    border-style: solid;
    border-color: #026BC8;
    border-width: 1px;
}

.dialog-hdr1 {
    font-size: 30px;
    margin: 0px;
    padding: 1em 1em 0.5em;
}

.pi-modal.modal {
    margin-top: 50px;
    overflow-x: hidden
}

.pi-modal .modal-dialog {
    padding: 0;
    height: 100%;
}

.pi-modal .modal-content {
    height: 100%;
    border-radius: 0px;
    overflow-y: auto;
}

p.response-err {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    clear: left;
}

.pad-dialog-lr.row {
    margin: 0px;
}

.dialog-footer-margin {
    margin-top: 1.5em;
}

.dialog-hdr2 {
    margin: 0px;
    float: right;
    width: 100%;
}

button.closebtn {
    color: #4f585f;
    opacity: 1;
    font-size: 14px;
    font-family: open-sans-semi-bold;
    background: url('../../images/close.svg') 50% 50% no-repeat;
    padding: 2.85em;
    display: block;
    border: none;
    float: right;
}

.modal-footer-container {
    height: 100%;
}

.pi-modal-footer {
    display: table;
    padding: 1px 0px 0px;
    width: 100%;
}

.dialog-btn {
    box-sizing: border-box;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    overflow: auto;
    border-style: none;
    background: white;
    color: #026BC8;
    line-height: normal;
    padding: 1em;
}

.dialog-btn:hover {
    color: #FFFFFF;
    background: #065AA5;
}

.dialog-btn:focus {
    color: #FFFFFF;
    background: #065AA5;
    border-top: 1px solid #81C8FF;
}


.desktop-save .lbl-text {
    width: 98%;
    display: inline-block\9; /* \9 hack - make this IE only */
    line-height: 20px;
}

.one-btn-layout {
    width: 100%;
}

.two-btn-layout {
    width: 50%;
}

.cancel-btn {
    border-top: 1px solid #026BC8;
    border-bottom-left-radius: 6px;
}

.cancel-btn.one-btn-layout {
    width: 0px;
    display: none;
}

.save-btn {
    border-top: 1px solid #206E9F;
    background: #026BC8;
    color: white;
}

.save-btn[disabled] {
    color: #869FB1;
}

.mid-dash {
    float: left;
    width: 100%;
    border-left: 1px solid rgb(0, 0, 0);
    padding: 0.25em 1em;
    margin: 0.75em 0em;
}


/************************/
/* Person Detail Layout */
/************************/

.overview-line {
    margin-top: 15px;
}

.overview-line.email {
    word-break: break-all;
}

.overview-line.addr > .pi-icon-align {
    color: #026BC8;
}

.overview-name {
    font-size: 1.5em;
}

.pi-profile-image {
    margin: 5px 0 15px;
    vertical-align: middle;
}

.details-wrapper {
    overflow: hidden;
}

.details-section {
    margin: 15px 0;
    padding: 15px 15px 0px 15px;
    border-bottom: 4px solid #ddd;
    overflow: hidden;
    background: white;
}

.details-section.overview {
    float: left;
    width: 280px;
    padding-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

.details-section-heading {
    float: left;
}

.details-section-heading > h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.pi-title-divider,
.pi-overview-divider {
    width: 50px;
    height: 1px;
}

.pi-overview-divider {
    margin-left: auto;
    margin-right: auto;
}

.pi-title-divider span,
.pi-overview-divider span {
    border-bottom: 1px solid #BEC5CB;
    width: 100%;
    float: left;
    margin-bottom: 0.675em;
}

.pi-title-divider span {
    margin-top: 1.0em;
}

.disability-status .pi-title-divider {
    width: 70px;
}

.disability-status .pi-title-divider span {
    border-bottom: 1px solid #4F585F;
    margin-bottom: 0.25em;
}

.pi-overview-divider span {
    margin-top: 1.5em;
}

.overview-divider-spacer {
    height: 25px;
}

.details-section-edit {
    float: right;
}

.address-delete-checkbox {
    float: left;
    padding-right: 8px;
}

.address-detail,
.emergency-contact-detail,
.addtl-details-detail {
    float: left;
}

.email-detail,
.proxy-item-detail {
    float: left;
    width: 100%;
    word-break: break-all;
}

.email-detail > div:first-child,
.addtl-details-detail > div:first-child {
    padding-bottom: 0.25em;
}

.addtl-details-detail.ethn-race-wrapper {
    float: none;
    word-wrap: break-word;
}

.item-wrapper,
.emergency-contact-wrapper {
    float: left;
    padding-bottom: 15px;
}

.address-type-view {
    font-weight: bold;
    padding-bottom: 0.25em;
}

.addr-time-period {
    color: #7E858B;
}

.address-date-range {
    float: left;
}

.address-zip {
    padding-left: 10px;
}

.address-last-line {
    float: left;
}

.phone-type-view {
    font-weight: bold;
    padding-bottom: 4px;
    float: left;
}

.phone-number-view {
    padding-bottom: 4px;
}

.phone-number-wrapper {
    padding-bottom: 15px;
}

.unlisted {
    padding: 0 5px;
}

span.priority-dot,
span.id-label {
    margin-right: 5px;
}

.pi-phone-num-lbl {
    padding-bottom: 0px;
}

.pi-phone-ctry {
    margin-top: 0.5em;
    width: 30%;
    min-width: 10em;
    display: inline-block;
}

.pi-phone-area {
    margin-top: 0.5em;
    width: 30%;
    min-width: 10em;
}

.pi-phone-num {
    margin-top: 0.5em;
    width: 35%;
    min-width: 10em;
}

.pi-phone-extn {
    margin-top: 0.5em;
    width: 23%;
}

.pi-emer-phone-field {
    margin-top: 0.5em;
}

.nonupdatable-phone {
    font-weight: bold;
}

.nonupdatable-email {
    font-weight: bold;
    float: left;
    margin-top: 0.35em;
}

/* Icons */
button.delete-btn {
    background: transparent;
    border: none;
    padding-top: 8px;
    padding-left: 9px;
}

path#Phone-Icon-2 {
    stroke: #026BC8;
}

path#Shape-Copy-Copy-4 {
    fill: #026BC8;
}

button.delete-btn:focus {
    outline: 1px dotted #333;
}

.phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

path#Path {
    fill: #026BC8;
}

.pi-icon {
    font-size: 24px;
    text-decoration: none;
    margin-right: 8px;
    vertical-align: middle;
}

.pi-icon-align {
    display: inline-block;
}
.pad-wordy-modal {
    padding: 0px 15px;
}

.clip-disability-text,
.clip-vet-text {
    height: 192px;
    overflow-y: hidden;
    clear: right;
}

.form-id-item {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
    clear: right;
    font-size: 12px;
    display: inline;
    float: right;
}

.disability-status .pad-dialog-lr .form-id-item:nth-child(-n+2) {
    width: 100%;
}

.disability-status .pad-wordy-modal > label {
    padding-top: 0px;
}

.disability-status .pad-wordy-modal > p:last-child,
.edit-veteran .pad-wordy-modal > p:last-child {
    margin-bottom: 0px;
}

.toggle-disability,
.toggle-vet {
    display: inline-block;
    padding: 0.5em 0px 1.5em;
}

.disability-status .lbl.radio-list > label {
    font-weight: normal;
}

.disability-item {
    margin-bottom: 0;
}

.input-field-label.input-field-label.pi-accom-notice {
    padding-top: 0.875em;
}

.pi-modal-title.veterans-title {
    color: #4F585F;
    padding-left: 0px;
    padding-bottom: 0.625em;
}

.edit-veteran .input-field-label.pi-accom-notice {
    padding-top: 0;
}

.pad-vet-class {
    padding-left: 1.5em;
}

.edit-veteran ul {
    padding-left: 40px;
}

.vet-date-input {
    width: 15em;
    padding-bottom: 1em;
}

.vet-date-input > label {
    font-weight: normal;
}


/*  Dropdown menu  */
.pi-modal .dropdown {
    border: none;
    box-shadow: none;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    padding: 0;
    color: #5b5e65;
    text-shadow: none;
}

.dropdown.open {
    color: #151618;
}

.form-spacing,
.dropdown-menu > li > a.form-spacing {
    padding: 1em .75em;
}

.dropdown-btn > span.form-spacing.pi-dropdown {
    text-align: left;
    width: 85%;
}

.dropdown-btn {
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
}

.dropdown-btn:focus {
    background-color: #fff;
}

.dropdown-btn.disabled {
    background: #F7F7F7;
}

.open > .dropdown-btn {
    background-color: #fff;
    border:1px solid #026BC8;
    color: #151618;
}

.dropdown-menu.addAcct {
    left: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0;
    padding: 0;
    margin: 0;
}

.open > .dropdown-menu.addAcct {
    border-style: none solid solid;
    border-width: 1px;
    border-color: #026BC8;
    top: 3.175em;
    min-width: 100%;
    width: auto;
}

.dropdown .dropdown-menu.addAcct > li {
    padding-left: 0px;
}

.dropdown .dropdown-menu.addAcct > li:hover {
    outline: none;
    background: transparent;
}

.dropdown-menu > li > a.addAcct {
    border-width: 1px;
    border-radius: 0px;
    border-style: solid none;
    border-color: #EEEEEF;
    font-weight: bold;
    white-space: normal;
}

.dropdown-menu > li > a.addAcct:hover,
.dropdown-menu > li > a.addAcct:focus {
    border-top-color: #B0DEEC;
    border-bottom-color: #B0DEEC;
    background-color: #F3FCFF;
}

.dropdown-menu > li > a.addAcct.end-dropdown-radius, .dropdown-menu > li.listing.end-dropdown-radius {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.float-r.form-spacing.down-caret:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
}

.open > .dropdown-btn .caret-color,
.dropdown-btn:focus .caret-color {
    color: #151618;
}

.min-width-priority {
    min-width: 0px;
}

li.listing {
    padding: 7.5px;
}

.dropdown-menu > li.listing {
    border-width: 1px;
    border-radius: 0px;
    border-style: solid none;
    border-color: #FFFFFF;
    font-weight: bold;
}

.dropdown-menu > li.listing:hover,
.dropdown-menu > li.listing.dropdown-li-focus {
    border-top-color: #B0DEEC;
    border-bottom-color: #B0DEEC;
    background-color: #F3FCFF;
}

.dropdown-menu > li.listing.end-dropdown-radius {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

li.listing > .radio-list {
    padding: 0px;
}

li.listing .radio-txt-input {
    margin-top: 7px;
}

/*  Check box  */
/*Custom Radio and check boxes*/

input[type="checkbox"].main-nav-check,
input[type="checkbox"].proxy-auth-check {
    margin-top: 0.875em;
}

input[type="checkbox"].main-nav-check + .lbl,
input[type="checkbox"].proxy-auth-check + .lbl {
    padding-top: 0.875em;
}

input[type="checkbox"].main-nav-check + .lbl.pi-fix {
    padding-top: 0;
}

input[type=checkbox],input[type=radio] {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 2.25em;
    height: 1.25em;
}

input[type=checkbox]+.lbl,input[type=radio]+.lbl {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 14px;
    min-width: 14px;
}

input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before {
    font-family: fontAwesome;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    content: "\a0";
    background-color: #ffffff;
    border: 1px solid #B2B3B7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    min-width: 18px;
    margin-right: 5px;
    margin-top: -5px;
    border-radius: 4px;
}

input[type=checkbox]:focus+.lbl::before,input[type=radio]:focus+.lbl::before,input[type=checkbox][focus]+.lbl::before,input[type=radio][focus]+.lbl::before,input[type=checkbox].focus+.lbl::before,input[type=radio].focus+.lbl::before {
    border: 1px solid  #026BC8;
}

input[type=radio]:focus+.lbl::before {
    outline: 1px dotted #333;
}

/* Checked state styles */
input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before {
    display: inline-block;
    content: '\2713';
    background-color: #026BC8;
    border: 1px solid #026BC8;
}

.edit-radio {
    position: relative;
}

input[type=radio]+.lbl::before {
    border-radius: 32px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 21px;
}

input[type=radio]:checked+.lbl::before {
    content: "\2022";
}

input[type=radio]:checked+.lbl,
.edit-veteran input[type=checkbox]:checked+.lbl {
    color: #151618;
}

.radio-list {
    padding-bottom: 0.875em;
    font-weight: normal;
}

span.radio-list.no-padding {
    padding: 0px;
}

input[type="radio"] + label.radio-list.pi-fix {
    padding-left: 0px;
    line-height: 20px;
    background-image: none;
}

.ws-nowrap {
    white-space: nowrap;
}

.misc-message {
    padding-top: 15px;
    display: inline-block;
}

.pad-dialog-lr {
    padding: 0em 0.75em;
}

.disability-act-text {
    clear: left;
}

p.not-preferable {
    padding: 0.875em 0 0.3em 0;
}

/*Table and grid section styles*/
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #beccd7;
    border-bottom: 1px solid #beccd7;
    border-top: none;
    background: #ffffff;
}

.acct-summ table th, .table>thead>tr>th {
    background: none !important;
}

table th, .table>thead>tr>th {
    background: #ffffff url('../../images/table-separator.png') center right no-repeat;
    border: none;
    padding: 18px 16px 18px 16px;
    text-align: left;
    border-bottom: 1px solid #c0ced0;
    vertical-align: middle;
}

table th:last-child, .table>thead>tr>th:last-child, .dashboard th:nth-of-type(8), .dashboard th:nth-of-type(9) {
    background: none;
    white-space: nowrap;
}
.dashboard td:nth-of-type(8), .dashboard td:nth-of-type(7)  {
    white-space: nowrap;

}

table tr:hover {
    background: #F3FCFF !important;
}

table tr.account-total-footer:hover {
    background: #f9f9f9 !important;
}

table tr:hover th:last-child, .dashboard tr:hover th:nth-of-type(8) {
    background: #ffffff;
}

table th span, .table>thead>tr>th span, table tr td {
    color: #4F585F;
    font-weight: 500;
    vertical-align: middle;
}

table>thead>tr>th:first-child, table>tbody>tr>td:first-child {
    padding-left: 20px;
}

table tr td {
    font-weight: normal;
    border-bottom: 1px solid #beccd7;
    padding: 15px 16px 15px 16px;
}


/* Popover */
.pi-popover {
    position: absolute;
    top: 0;
    /* left: 0;  CSS RTL generator will make this 'right' and override correct styles */
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

.popover-content {
    padding: 9px 14px;
}

.pi-popover.top {
    margin-top: -10px;
}

.pi-popover.right {
    margin-left: 10px;
}

.pi-popover.bottom {
    margin-top: 10px;
}

.pi-popover.left {
    margin-left: -10px;
}

.pi-popover .arrow,
.pi-popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.pi-popover .arrow {
    border-width: 11px;
}

.pi-popover .arrow:after {
    border-width: 10px;
    content: "";
}

.pi-popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.pi-popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
    content: " ";
}

.pi-popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
}

.pi-popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0;
    content: " ";
}

.pi-popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

.pi-popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
    content: " ";
}

.pi-popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
}

.pi-popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
    content: " ";
}

.pi-tooltip {
    font-weight: normal;
    padding: 5px;
    background: #fffeea;
    border: 1px solid #e0d397;
}

.edit-pers-details .popover-button {
    font-size: 18px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: 0;
}


/* Accessibility */
.hidden-link-text-for-reader {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
    top: -9999px;
}


/* Directory Profile */
.dir-profile-instr {
    margin: 0 0 15px 15px;
    font-size: 16px;
    font-style: italic;
}

.dir-profile-col-hdg {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

div.dir-profile {
    margin-top: 25px;
}

.dir-profile-desc {
    font-weight: bold;
}

.dir-profile .row {
    padding: 3px 0;
}

.dir-profile .shaded {
    background-color: #f2f8fc;
}

.dir-profile-col-hdg.visible-xs {
    float: left;
    font-size: 14px;
    padding-right: 8px;
}

.display-in-dir-spacer {
    padding: 2px;
}

.display-in-dir-check {
    float: left;
}

/***********************/
/* Media Query Section */
/***********************/

@media screen and (max-width:991px) {
    .sm-fix {
        width: 100%;
    }
}

@media(max-width:568px){
    .mobile-errors {
        display: inline-block;
    }

    .xs-errors-visible {
        display: none;
    }

    .pi-phone-ctry {
        width: 40%;
        display: block;
    }

    .pi-phone-area {
        width: 40%;
    }

    .pi-phone-num {
        width: 60%
    }

    .pi-phone-extn {
        width: 30%;
    }

    button.closebtn {
        padding: 2.85em 2.65em;
    }
}

@media screen and (max-width:767px) {
    .edit-flex-div {
        display: inline;
    }

    .clear-xs-sm {
        clear: both;
    }

    .email-text,
    a.email-text:hover,
    a.email-text:active,
    a.email-text:focus {
        color: #333;
        text-decoration: none;
    }
}

@media screen and (min-width:768px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }

    .col-md-4 {
        float: left;
        width: 33%;
    }

    .secqa-answer {
        float: right;
    }

    .mobile-visible {
        visibility: hidden;
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    .desktop-visible {
        visibility: visible;
        position: relative;
        overflow: auto;
        height: auto;
        width: auto;
        margin: 0px;
    }

    .dialog-hdr1 {
        font-size: 24px;
        padding: 1em 1em 0.75em;
    }

    button.closebtn {
        padding: 2.35em;
    }

    .pad-dialog-lr {
        padding: 0em 1.5em;
    }

    .mobile-errors-acType {
        display: none;
    }

    .xs-errors-visible {
        display: none;
    }

    .pi-modal .modal-dialog {
        height: auto;
    }

    .pi-modal.modal.in .modal-dialog {
        -webkit-transform: translate(0, 18%);
        -ms-transform: translate(0, 18%);
        transform: translate(0, 18%);
    }

    .edit-addr.pi-modal.modal.in .modal-dialog,
    .edit-pers-details.pi-modal.modal.in .modal-dialog,
    .edit-emer-contact.pi-modal.modal.in .modal-dialog,
    .edit-directory-profile.pi-modal.modal.in .modal-dialog,
    .security-qa.pi-modal.modal.in .modal-dialog,
    .disability-status.pi-modal.modal.in .modal-dialog,
    .edit-veteran.pi-modal.modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .edit-phone.pi-modal .modal-dialog {
        width: 650px;
    }

    .edit-email.pi-modal .modal-dialog {
        width: 600px;
    }

    .pi-modal .modal-content {
        height: auto;
        border-radius: 6px;
        overflow-y: visible;
    }

    .pi-modal-title {
        padding: 0.875em 0.875em 0.1em 1.375em;
    }

    .clear-row .col-md-4:nth-child(3n+1),
    .edit-addr .maybe-clear:nth-child(3n+1),
    .edit-emer-contact div.maybe-clear:nth-child(3n+1) {
        clear: left;
    }

    .edit-veteran input.hasMultiCalendarPicker.pi-date-input + span.calendar-img {
        left: 12em;
    }
}

@media screen and (min-width:1024px) {
    .col-lg-4 {
        width: 33%;
    }

    .details-section.overview {
        width: 310px;
    }

    .edit-addr .modal-dialog,
    .edit-pers-details .modal-dialog,
    .edit-emer-contact .modal-dialog {
        width: 896px;
    }

    .edit-directory-profile .modal-dialog {
        width: 960px;
    }

    .security-qa .modal-dialog {
        width: 728px;
    }

    .disability-status.pi-modal .modal-dialog,
    .edit-veteran.pi-modal .modal-dialog {
        width: 988px;
    }

    .view-list div.item-wrapper:nth-child(3n+1),
    .emergency-contact-list div.col-xs-12:nth-child(3n+1),
    .phone-list > .row > div:nth-child(3n+1),
    .addr-list > div:nth-child(3n+1) {
        clear: left;
    }
}

/*Tablet device*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .view-list div.item-wrapper:nth-child(2n+1),
    .emergency-contact-list div.col-xs-12:nth-child(2n+1),
    .phone-list > .row > div:nth-child(2n+1),
    .addr-list > div:nth-child(2n+1) {
        clear: left;
    }

    .pi-modal .modal-dialog {
        width: 97%;
    }

    .xe-tab-container .xe-tab-nav>li {
        max-width: 100%;
    }

    #start-date-wrapper, #stop-date-wrapper{
        max-width: 50%;
    }
}

/* Mobile devices up through iPad landscape */
@media screen and (max-width:1024px) {
    /* Fix iOS-only issue where background scrolls when user touches an <input> element to scroll */
    body.modal-open {
        overflow: hidden;
        position:fixed;
        width: 100%;
    }

    .xe-tab-container .xe-tab-nav>li {
        max-width: 100%;
    }
}

