/********************************************************************************
  Copyright 2019 Ellucian Company L.P. and its affiliates.
********************************************************************************/
/* General Styles */
body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}

.break-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

svg.hide-svg {
    height: 0;
}

#content.proxy {
    font-family: OpenSans-regular;
    font-size: 14px;
    background: #f8f8f8;
    margin-top: 5px;
}

h2 {
    font-size: 24px;
}

.proxy-mgmt-home-content {
    margin: 30px 16px 100px;
}

.right {
    text-align: right;
    margin-right: 1em;
}

.proxy-profile-form {
    padding: 0px 16px;
}

.proxy-mgmt-main-container {
    background: #FFFFFF;
    margin: 20px 0px;
    padding: 19px;
    padding-top: 9px;
    box-shadow: 0 0 10px 0px #CECECE;
    border-radius: 6px;
}

.proxy-mgmt-main-heading {
    float: left;
    margin-bottom: 30px;
}

.proxy-info-main-heading {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.proxy-info-subheading {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.proxy-info-subheading .page-top {
    margin-top: 0;
}

.proxy-info-subheading .bold {
    font-family: OpenSans-semibold;
}

.proxy-info-subheading .italic {
    font-style: italic;
}

.proxy-base-info-summary {
    float: left;
    font-size: 28px;
    margin: 10px 0 20px;
}

.proxy-mgmt-add-new-proxy {
    float: right;
}

.proxy-mgmt-email-passphrase {
    float: left;
    margin-top: 10px;
}

.proxy-mgmt-reset-pw {
    float: left;
    font-size: 16px;
    margin: 18px 0 0 30px;
}

.proxy-mgmt-select-all-pages {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.proxy-mgmt-pages {
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
}

.proxy-notification-box {
    display: table;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.proxy-notification-row {
    display: table-row;
}

.proxy-notification-cell {
    display: table-cell;
}

.proxy-notification-content {
    border: 1px solid #51abff;
    border-radius: 5px;
    padding: 10px;
    background-color: #eff7ff;
}

.proxy-notification-content.info {
    border-top:2px solid #FDC228;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #F5F2E7;
}

.proxy-notification-icon {
    font-size: 20px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
}

.proxy-notification-icon.blue {
    color: #428bca;
}

.proxy-notification-icon.info {
    color: #8A6A00;
}

.proxy-notification-text {
    display: table-cell;
    vertical-align: middle;
}

.proxy-notification-text.blue {
    color: #2874BB;
}

.proxy-notification-text.info {
    color: #8A6A00;
    font-size: 1.2em;
}

.proxy-item-name {
    font-family: OpenSans-semibold;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.long-name-limiter {
    max-width: 100%;
    overflow: auto;
}

.proxy-mgmt-footer-container {
    position: absolute;
    bottom: 49px;
    left: 0;
}

.proxy-mgmt-footer {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.proxy-mgmt-footer > a.add-item-link {
    padding: 1em;
    display: inline-block;
    width: 50%;
}

.proxy-mgmt-footer > a.add-item-link > span.icon-add-CO,
.proxy-mgmt-footer > a.add-item-link > span.icon-edit-CO {
    padding-right: 10px;
}

.proxy-mgmt-comm-grid,
.proxy-mgmt-auth-grid {
    padding-top: 10px;
}

.proxy-communication-log-header,
.proxy-auth-log-header {
    padding-top: 35px;
}

.proxy-communication-log-title,
.proxy-auth-log-title {
    font-weight: bold;
    font-size: 18px;
}

.proxy-bottom-buttons.mgmt {
    margin-top: 40px;
}

.resend-link {
    margin-left: 32px;
}

.proxy-delete-button-disabled-parent {
    pointer-events: none;
 }

.proxy-popover {
    color: #026bc8;
    border-color: black;
    font-size: 15px;
}

.no-select {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.proxy-info-tooltip-color {
    color: #026bc8;
}

#authorization .select2-choice > .select2-chosen {
    padding-top: 0.5em;
    display: block;
}

/***********************/
/* Media Query Section */
/***********************/
@media screen and (min-width:768px) {

    .proxy-mgmt-home-content {
        margin: 30px 150px 100px;
    }

    .proxy-mgmt-base {
        padding: 0px 100px;
    }

    .proxy-mgmt-main-container {
        padding: 47px;
        padding-top: 21px;
    }

}


/* Mobile device */
@media screen and (max-width:767px) {

    #breadcrumbBackButton {
        z-index: 100;
    }

    .breadcrumbButton.leaf-breadcrumb {
        height: 8px;
    }

    .proxy-mgmt-no-proxy-top {
        height: 50px;
    }

    .proxy-mgmt-msg-primary {
        font-family: OpenSans-semibold;
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
    }

    .proxy-mgmt-msg-secondary {
        text-align: center;
        margin-bottom: 20px;
    }

    .proxy-mgmt-button-container.center {
        text-align: center;
    }

    .proxy-mgmt-pages {
        margin-left: 20px;
    }

    .proxy-mgmt-select-all-pages {
        margin-left: 0;
    }

    .proxy-mgmt-reset-pw {
        float: none;
        margin: 0;
    }
}


/*Tablet device*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .proxy-mgmt-home-content {
        margin: 30px 16px 200px;
    }

}


/* Desktop */
@media screen and (min-width:1025px) {

    #content.proxy {
        margin-top: 0;
    }

}

.notification-center-flyout ul li.notification-center-message-info  {
    color: #2874BB ;
    border: solid 1px #2874BB;
    border-top: solid 4px #2874BB;
    background: #EFF7FF url("icons/info.png") no-repeat 2% 50%;
}
