<!--*******************************************************************************
  Copyright 2020 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="global-proxy-edit-content">
    <div ng-if="isCreateNew">
        <div class="global-proxy-heading">
            <span class="bold">{{'proxyManagement.label.addProxy'|i18n}}</span>
            <proxy-mgmt-popover-tooltip popover-contents="{{'proxyManagement.message.addProxyUsingForm'|i18n}}"></proxy-mgmt-popover-tooltip>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <global-proxy-mgmt-notification notification-type="info" display-message="{{'globalProxyManagement.message.bannerIdNameSearch'|i18n}}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <label class="input-field-label" for="name-banner-id">{{'globalProxyManagement.label.firstNameBannerId'|i18n}}</label><br>
                <input ng-model="proxy.p_first" ng-blur="firstNameFocused=false; globalProxyManagementDataValidator.removeProxyProfileFieldErrors(proxy)" ng-focus="firstNameFocused=true"
                       ng-class="[(!!globalProxyManagementDataValidator.firstNameErrMsg && !firstNameFocused ? 'input-field-error' : null)]"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{'globalProxyManagement.placeholder.enter'|i18n}}" size="{{(maxNameLength + 2)}}" maxlength="{{maxNameLength}}" title="{{proxy.p_first}}"
                       id="name-banner-id">
                <p class="input-field-label mobile-errors" ng-class="[(!!globalProxyManagementDataValidator.firstNameErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{globalProxyManagementDataValidator.firstNameErrMsg|i18n}}</p>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <br />
                <button ng-click="" class="primary global-proxy-search">{{'globalProxyManagement.label.search'|i18n}}</button>
            </div>
        </div>
        <hr />
        <div ng-if="globalProxySearchRecords" class="row">
            <div class="proxy-mgmt-comm-grid">
                <xe-table-grid table-id="communicationDataTable" caption="" header="globalProxySearchColumns" fetch="globalProxySearch(query)"
                               content="globalProxySearchRows" results-found="globalProxySearchRecords" toolbar="false" paginate="true" continuous-scrolling="true"
                               no-data-msg="{{'proxyManagement.message.noResultsFound'|i18n}}" empty-table-msg="" on-row-click=""
                               pagination-config="globalProxySearchPaginationConfig" draggable-column-names="draggableGlobalProxySearchColumnNames"
                               mobile-layout="globalProxySearchMobileConfig" height="16em">
                </xe-table-grid>
            </div>
        </div>
    </div>
    <div ng-if="!isCreateNew">
        <div class="clearfix">
            <div class="proxy-base-info-summary long-name-limiter">
                <span>{{proxyAuxData.firstName}}</span> <span>{{proxyAuxData.lastName}}</span>
            </div>
        </div>
    </div>
    <xe-tab-nav ng-if="!isCreateNew">
        <xe-tab-panel heading="{{'proxyManagement.label.addProxy'|i18n}}" state="editProxy">
            <ng-include src="'../assets/globalProxyManagementApp/globalProxyManagementEditProxy/globalProxyMgmtCommonEditInputs.html'"></ng-include>
            &shy;<!-- THIS NON-VISIBLE CHARACTER NEEDED TO FORCE XE-TAB-PANEL DIRECTIVE TO TAKE THE NG-INCLUDE -->
        </xe-tab-panel>
    </xe-tab-nav>
    <div id="proxyProfileErrorMsgCenter" class="visuallyhidden" tabindex="-1">
        <span>{{globalProxyManagementDataValidator.firstNameErrMsg|i18n}}</span>
        <span>{{globalProxyManagementDataValidator.lastNameErrMsg|i18n}}</span>
        <span>{{globalProxyManagementDataValidator.relationshipErrMsg|i18n}}</span>
        <span>{{globalProxyManagementDataValidator.authorizationsErrMsg|i18n}}</span>
    </div>
</div>
