<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<br>
<b>Proxy Profile </b><br>
Please keep your Banner Web proxy information up-to-date.
<!--FORM ACTION="proxy/updateProxyProfile" METHOD="POST" id="proxyprofile" autocomplete="off">
    <!--TABLE CLASS="dataentrytable" SUMMARY="This table displays the proxy profile fields."-->
    <div class="row">
    <div ng-repeat="profileElement in profileElements">
        <div ng-if="profileElement.visible" class="col-xs-12">
            <label ng-class="(!!cityErrMsg && !cityFocused ? 'input-field-label field-error' : 'input-field-label')"
                   class="input-field-label" for="{{profileElement.elemId}}">{{profileElement.label}}</label><br>
            <input ng-model="profileElement.model" ng-blur="cityFocused=false;" ng-focus="cityFocused=true"
                   ng-class="[(!!cityErrMsg && !cityFocused ? 'input-field-error' : null)]" class="text-input-field semi-bold form-spacing"
                   type="text" placeholder="{{profileElement.placeholder}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="{{profileElement.elemId}}">
                <span ng-if="!!cityErrMsg && !cityFocused" class="icon input-fail">
                    <span class="icon-error ellucian-font"></span>
                </span>
            <p class="input-field-label mobile-errors" ng-class="[(!!cityErrMsg ? 'field-error error-font-size' : 'no-display')]"
               role="alert" aria-live="assertive">{{cityErrMsg|i18n}}</p>
        </div>
    </div>
    <INPUT ng-click="save()" TYPE="button" VALUE="Save" id="p_save" class="signin-button">
        <!--
        NAME="p_save"
        <tr>
            <td><INPUT TYPE="submit" NAME="p_save" VALUE="Save" id="p_save" class="signin-button"></td>
        </tr>
    </TABLE>
</FORM-->
