<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="clearfix">
    <h1 class="proxy-page-heading pi left">{{'proxy.profile.heading'|i18n}}</h1>
    <div class="proxy-pi-top-link">
        <a ng-href="/BannerGeneralSsb/login/resetPassword?j_username={{guestUserName}}">{{'proxy.personalinformation.clickToChangePassword'|i18n}}</a>
    </div>
</div>
<div class="proxy-profile-form">
    <div class="proxy-top-message-container pi">
        <div class="proxy-notification-icon blue">
            <span class="icon-info-CO"></span>
        </div>
        <div class="proxy-top-message proxy-notification-text">
            {{'proxy.personalinformation.topMessage'|i18n}}
        </div>
    </div>
    <span  ng-if="flashMessage">
        <span class="icon-error ellucian-font"></span>{{flashMessage}}
    </span>
    <div class="row pi-section" ng-repeat="piSection in personalInfoSections">
        <div class="clearfix">
            <h2 class="proxy-section-heading pi">{{piSection.heading}}</h2>
            <div class="proxy-pi-right-message required-field">
                {{'proxy.label.indicatesRequiredField'|i18n}}
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4" ng-repeat="profileElement in piSection.elements" ng-if="profileElement.visible">
            <div ng-if="profileElement.visible && !profileElement.isWidget">
                <label ng-class="(!!cityErrMsg && !cityFocused ? 'input-field-label field-error' : 'input-field-label')"
                       class="input-field-label" for="{{profileElement.elemId}}" ng-bind-html= "profileElement.label"> </label><br>
                <input ng-model="profileElement.model" ng-blur="cityFocused=false;" ng-focus="cityFocused=true"
                       ng-class="[(!!cityErrMsg && !cityFocused ? 'input-field-error' : null)]" class="text-input-field semi-bold form-spacing"
                       type="text" placeholder="{{profileElement.placeholder}}" size="{{(profileElement.fieldLength + 2)}}" maxlength="{{profileElement.fieldLength}}" id="{{profileElement.elemId}}">
                    <span ng-if="!!cityErrMsg && !cityFocused" class="icon input-fail">
                        <span class="icon-error ellucian-font"></span>
                    </span>
                <p class="input-field-label mobile-errors" ng-class="[(!!cityErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{cityErrMsg|i18n}}</p>
            </div>

            <div ng-if="profileElement.visible && profileElement.isDropdown">
                <label class="input-field-label" ng-bind-html= "profileElement.label"></label><br>
                <input select-box for-select='{"placeholder": "{{profileElement.placeholder}}", "action": "PersonalInformationDetails/get{{profileElement.fetch}}List", "model": "profileElement.model", "showNA": true}' type="hidden" />
                <p class="input-field-label mobile-errors" ng-class="[(!!stateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{stateErrMsg|i18n}}</p>
            </div>

            <div ng-if="profileElement.visible && profileElement.elemId === 'p_birth_date'">
                <label ng-class="(seprDateErrMsg && !seprDateFocused ? 'field-error' : '')" for="birthDate" ng-bind-html= "profileElement.label" class="input-field-label">
                </label>
                <input date-picker ng-model="profileElement.model" pi-input-watcher on-select="setBirthDate" ng-blur="seprDateFocused=false; removeVeteranErrors()"
                       ng-focus="seprDateFocused=true" ng-class="[(seprDateErrMsg && !seprDateFocused ? 'input-error' : null)]"
                       class="pi-date-input input-colors" placeholder="{{'personInfo.placeholder.datePicker'|i18n}}" id="birthDate"
                       aria-label="{{'personinfo.veteran.classification.date.discharge.label'|i18n}}"/>
                <p class="mobile-errors" ng-class="[(!!seprDateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{seprDateErrMsg|i18n}}</p>
            </div>

            <div ng-if="profileElement.visible && profileElement.elemId === 'p_sex'">
                <label class="input-field-label" ng-bind-html= "profileElement.label"></label><br>
                <input legal-sex-select profile-item="profileElement" type="hidden" />
                <p class="input-field-label mobile-errors" ng-class="[(!!stateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{stateErrMsg|i18n}}</p>
            </div>


        </div>
    </div>
    <div class="proxy-pi-bottom-spacer"></div>
    <div ng-if="optOutAdvDate && optOutAdvDate.visible">
        <input ng-model="optOutAdvDate.model" class="main-nav-check" id="opt_out_adv_date" type="checkbox" aria-describedby="opt-out-adv-date-txt"/>
        <p class="lbl" id="opt-out-adv-date-txt"><label for="opt_out_adv_date">{{'proxy.personalinformation.label.p_opt_out_adv_date'|i18n}}</label></p>
    </div>

    <div class="proxy-bottom-buttons">
        <div class="proxy-mobile-visible">
            <input ng-click="save()"   type="button" value="{{'proxy.label.submit'|i18n}}" class="primary">
            <input ng-click="cancel()" type="button" value="{{'proxy.label.cancel'|i18n}}" class="secondary left">
        </div>
        <div class="proxy-tablet-visible">
            <input ng-click="cancel()" type="button" value="{{'proxy.label.cancel'|i18n}}" class="secondary left">
            <input ng-click="save()"   type="button" value="{{'proxy.label.submit'|i18n}}" class="primary">
        </div>
        <div class="proxy-desktop-visible">
            <input ng-click="cancel()" type="button" value="{{'proxy.label.cancel'|i18n}}" class="secondary left">
            <input ng-click="save()"   type="button" value="{{'proxy.label.submit'|i18n}}" class="primary">
        </div>
    </div>
</div>