<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-page-body">
    <div class="clearfix">
        <h1 class="proxy-page-heading left">{{'proxy.acctSummary.title'|i18n}}</h1>
        <div class="proxy-page-student-name">
            {{'proxy.message.viewingStudentInfo'|i18n:[studentName]}}
        </div>
    </div>
    <div class="proxy-top-message-container">
        <div class="proxy-notification-icon blue">
            <span class="icon-info-CO"></span>
        </div>
        <div class="proxy-top-message proxy-notification-text">
            <div>
                {{'proxy.acctSummary.message.notIncluded'|i18n}}
            </div>
            <div ng-if="!accountSummary.accountBal">
                {{'proxy.acctSummary.message.noSummary'|i18n}}
            </div>
        </div>
    </div>
    <div ng-if="accountSummary.accountBal">
        <h2 class="acct-summ-heading">{{'proxy.acctSummary.label.summaryAcctBalance'|i18n}}<span class="acct-summ-bal-heading-text" ng-class="getAccountBalColor()">{{accountSummary.accountBalTxt}}</span></h2>
        <div ng-if="payvendUrl && payvendVendor" class="acct-summ-payvendor">
            <input ng-click="openVendorUrl()" type="button" value="{{payvendVendor}}" class="primary">
        </div>
        <div class="clearfix"></div>
        <div ng-repeat="term in accountSummary.terms" class="proxy-content-section acct-summ-term">
            <table>
                <thead>
                    <tr>
                        <th class="acct-summ-term-desc" colspan="4">{{term.termDesc}}</th>
                        <th ng-show="accountSummary.showDetailCode"><!--SPACER--></th>
                    </tr>
                    <tr>
                        <th ng-show="accountSummary.showDetailCode">{{'proxy.acctSummary.label.detailCode'|i18n}}</th>
                        <th>{{'proxy.acctSummary.label.description'|i18n}}</th>
                        <th class="amt">{{'proxy.acctSummary.label.charge'|i18n}}</th>
                        <th class="amt">{{'proxy.acctSummary.label.payment'|i18n}}</th>
                        <th class="amt">{{'proxy.acctSummary.label.balance'|i18n}}</th>
                    </tr>
                </thead>
                <tr ng-repeat="ledgerItem in term.ledger">
                    <td ng-show="accountSummary.showDetailCode">{{ledgerItem.detailCode}}</td>
                    <td>{{ledgerItem.description}}</td>
                    <td class="amt">{{ledgerItem.charge}}</td>
                    <td class="amt">{{ledgerItem.payment}}</td>
                    <td class="amt">{{ledgerItem.balance}}</td>
                </tr>
                <tr class="bold-row">
                    <td>{{'proxy.acctSummary.label.termCharges'|i18n}}</td>
                    <td ng-show="accountSummary.showDetailCode"></td>
                    <td class="amt">{{term.termCharge}}</td>
                    <td class="amt">-</td>
                    <td class="amt">-</td>
                </tr>
                <tr class="bold-row">
                    <td>{{'proxy.acctSummary.label.termCredits'|i18n}}</td>
                    <td ng-show="accountSummary.showDetailCode"></td>
                    <td class="amt">-</td>
                    <td class="amt">{{term.termPay}}</td>
                    <td class="amt">-</td>
                </tr>
                <tr class="bold-row">
                    <td>{{'proxy.acctSummary.label.termBalances'|i18n}}</td>
                    <td ng-show="accountSummary.showDetailCode"></td>
                    <td class="amt">-</td>
                    <td class="amt">-</td>
                    <td class="amt">{{term.termBalance}}</td>
                </tr>
            </table>
        </div>
        <div class="proxy-content-section acct-summ-term">
            <table>
                <tr class="bold-row">
                    <td>{{'proxy.acctSummary.label.accountBalance'|i18n}}</td>
                    <td class="amt" ng-class="getAccountBalColor()">{{accountSummary.acctTotalTxt}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>