<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div>
    <div class="proxy-page-body">
        <div class="clearfix">
            <h1 class="proxy-page-heading left">{{'proxy.schedule.heading'|i18n}}</h1>
            <div class="proxy-page-student-name">
                {{'proxy.message.viewingStudentInfo'|i18n:[studentName]}}
            </div>
        </div>
        <div class="proxy-top-message-container">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <p class="proxy-top-message proxy-notification-text">
                {{'proxy.schedule.infoText'|i18n}}
            </p>
        </div>
        <div ng-show="errorMsg === 'notRegistered'" class="proxy-top-message-container">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <p class="proxy-top-message proxy-notification-text">
                {{'proxy.schedule.notRegistered'|i18n}}
            </p>
        </div>
        <div full-calendar id="calendar" class="ui-widget-content proxy-content-section" role="region"></div>
        <div ng-if="unassignedSchedule.length > 0" class="unassigned proxy-content-section">
            <h2>{{'proxy.schedule.unassignedMeeting'|i18n}}</h2>
            <div ng-repeat="course in unassignedSchedule" class="unassigned-meeting">
                <a ng-if="hasDetailAccess" ui-sref="/ssb/proxy/courseScheduleDetail({crn: {{course.crse_crn}}, termCode: {{course.crse_term_code}}, termDesc:'{{course.crse_term_desc}}'})" class="text-link">
                    {{course.crse_subj_code}} {{course.crse_crse_numb}}-{{course.crse_seq_numb}}
                </a>
                <span ng-if="!hasDetailAccess">
                    {{course.crse_subj_code}} {{course.crse_crse_numb}}-{{course.crse_seq_numb}}
                </span>
                - {{course.crse_crn}} {{course.crse_ptrm_code == null ? course.crse_stvschd_desc : 'TBA'}}
            </div>
        </div>
    </div>
</div>
