<div ng-show="termHolder.term.code">
    <div ng-repeat="course in schedule">
        <h2>
            <a href="" data-toggle="collapse" data-target="#schedDetails{{$index}}" class="panel-title">
                {{course.course_title}}
                <span class="icon-collapseArrow"></span>
            </a>
        </h2>
        <div class="collapse in" id="schedDetails{{$index}}">
            <div class="proxy-content-section proxy-content-item course">
                <ng-include src="'proxyApp/student/courseSchedDetail-course.html'|webAppResourcePath"></ng-include>
            </div>
            <div class="proxy-content-section proxy-content-item meetings" ng-repeat="meeting in course.tbl_meetings">
                <ng-include src="'proxyApp/student/courseSchedDetail-courseMeetings.html'|webAppResourcePath"></ng-include>
            </div>
        </div>
    </div>
</div>
