<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-page-body">
    <div class="clearfix">
        <h1 class="proxy-page-heading left">{{'proxy.grades.label.studentGrades'|i18n}}</h1>
        <div class="proxy-page-student-name">
            {{'proxy.message.viewingStudentInfo'|i18n:[student.name]}}
        </div>
    </div>
    <div class="proxy-top-message-container">

        <div ng-if="registered==true && holds!=true">
         <div class="proxy-notification-icon blue">
            <span class="icon-info-CO"></span>
         </div>
         <div class="proxy-top-message proxy-notification-text">
            {{'proxy.grades.message.gradesMayNotDisplay'|i18n}}
         </div>
        </div>

        <div ng-if="registered != true && holds!=true">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <div class="proxy-top-message proxy-notification-text">
                {{'proxy.schedule.notRegistered'|i18n}}
            </div>
        </div>

        <div ng-if="holds == true">
            <div class="proxy-notification-icon blue">
                <span class="icon-info-CO"></span>
            </div>
            <div class="proxy-top-message proxy-notification-text">
                {{'proxy.grades.message.holds'|i18n}}
            </div>
        </div>

    </div>

    <div class="select-term" data-ng-show="registered && holds!=true">
        <genssb-xe-dropdown fetch-function="termsFetcher" model-holder="termHolder" model-name="term"
                            on-select-fn="onTermSelect" dropdown-placeholder="{{'proxy.label.term.selectTerm'|i18n}}">
        </genssb-xe-dropdown>
    </div>

    <div ng-show="student.grades.length">
        <h2 class="proxy-section-heading">{{'proxy.grades.label.courseWork'|i18n}}</h2>
        <div class="proxy-content-section proxy-content-item row" ng-repeat="grade in student.grades">
            <div class="col-xs-12 course-title"><span class="course-title-label">{{'proxy.grades.label.courseTitle.colon'|i18n}}</span>{{grade.courseTitle|emptyValToDash}}</div>
            <div class="subsection-divider"><span></span></div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.level.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.crn.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.subject.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.course.colon'|i18n}}</div>
            <div class="col-xs-3 break-long-words">{{grade.levelDescription|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.courseReferenceNumber|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.subjectCode|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.courseNumber|emptyValToDash}}</div>
            <div class="subsection-divider"><span></span></div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.section.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.campus.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.midtermGrade.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.finalGrade.colon'|i18n}}</div>
            <div class="col-xs-3 break-long-words">{{grade.section|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.campusDescription|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.midtermGrade|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.finalGrade|emptyValToDash}}</div>
            <div class="subsection-divider"><span></span></div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.attemptedHours.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.earnedHours.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.gpaHours.colon'|i18n}}</div>
            <div class="proxy-content-item-label col-xs-3">{{'proxy.grades.label.qualityPoints.colon'|i18n}}</div>
            <div class="col-xs-3 break-long-words">{{grade.hoursAttempted|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.hoursEarned|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.gpaHours|emptyValToDash}}</div>
            <div class="col-xs-3 break-long-words">{{grade.qualityPoints|emptyValToDash}}</div>
        </div>
    </div>
</div>