<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div>
    <h1 class="proxy-page-heading">{{'proxy.holds.student.label'|i18n}} {{studentName}}</h1>
    <div class="proxy-page-body">
        <div class="holds-msg-container">
            <div>Please note that some holds are sensitive and may not display on this page.</div>
            <div ng-if="holds.message">{{'proxy.holds.message.'+ holds.message|i18n}}</div>
        </div>
        <div class="hold-item row" ng-repeat="hold in holds.rows">
            <div class="hold-item-label col-xs-12">Hold Type:</div>
            <div class="col-xs-12">{{hold.stvhold_desc}}</div>
            <div class="subsection-divider"><span></span></div>
            <div class="clearfix subsection-divider-spacer"></div>
            <div class="hold-item-label col-xs-6">From Date:</div>
            <div class="hold-item-label col-xs-6">To Date:</div>
            <div class="col-xs-6">{{hold.r_from_date}}</div>
            <div class="col-xs-6">{{hold.r_to_date}}</div>
            <div class="subsection-divider"><span></span></div>
            <div class="clearfix subsection-divider-spacer"></div>
            <div class="hold-item-label col-xs-6">Amount:</div>
            <div class="hold-item-label col-xs-6">Reason:</div>
            <div class="col-xs-6">{{hold.r_amount_owed}}</div>
            <div class="col-xs-6">{{hold.r_reason}}</div>
            <div class="subsection-divider"><span></span></div>
            <div class="clearfix subsection-divider-spacer"></div>
            <div class="hold-item-label col-xs-6">Originator:</div>
            <div class="hold-item-label col-xs-6">Process Affected:</div>
            <div class="col-xs-6">{{hold.stvorig_desc}}</div>
            <div class="col-xs-6">{{stringifyHoldsFor(hold)}}</div>
        </div>
    </div>
</div>