<!--*******************************************************************************
  Copyright 2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="proxy-page-body">
    <div class="proxy-page-student-name">
        {{'proxy.message.viewingStudentInfo'|i18n:[studentName]}}
    </div>
    <div class="proxy-top-message-container">
        <div class="proxy-notification-icon blue">
            <span class="icon-info-CO"></span>
        </div>
        <div class="proxy-top-message proxy-notification-text">
            <div>
                {{'proxy.holds.message.holdsMayNotDisplay'|i18n}}
            </div>
            <div ng-if="holds.message">
                {{'proxy.holds.message.'+ holds.message|i18n}}
            </div>
        </div>
    </div>
    <div class="proxy-content-section proxy-content-item row" ng-repeat="hold in holds.rows">
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.holdType.colon'|i18n}}</div>
        <div class="col-xs-6 break-long-words">{{hold.stvhold_desc}}</div>
        <div class="subsection-divider"><span></span></div>
        <div class="clearfix subsection-divider-spacer"></div>
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.fromDate.colon'|i18n}}</div>
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.toDate.colon'|i18n}}</div>
        <div class="col-xs-6 break-long-words">{{hold.r_from_date}}</div>
        <div class="col-xs-6 break-long-words">{{hold.r_to_date}}</div>
        <div class="subsection-divider"><span></span></div>
        <div class="clearfix subsection-divider-spacer"></div>
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.amount.colon'|i18n}}</div>
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.reason.colon'|i18n}}</div>
        <div class="col-xs-6">{{hold.r_amount_owed}}</div>
        <div class="col-xs-6 break-long-words">{{hold.r_reason}}</div>
        <div class="subsection-divider"><span></span></div>
        <div class="clearfix subsection-divider-spacer"></div>
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.originator.colon'|i18n}}</div>
        <div class="proxy-content-item-label col-xs-6">{{'proxy.holds.label.processAffected.colon'|i18n}}</div>
        <div class="col-xs-6 break-long-words">{{hold.stvorig_desc}}</div>
        <div class="col-xs-6">
            <div class="hold-process-bubble" ng-repeat="processAffected in hold.hold_for">
                {{translateMobile(processAffected)}}
            </div>
        </div>
    </div>

</div>